////
/// Page wrapper for the grid system
///
/// 1. In IE11 the `main` element can be used, but is not recognized  –
///    meaning it's not defined in IE's default style sheet,
///    so it uses CSS initial value, which is inline
///
/// @group objects
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)
///
/// @example html
///   <div class="ndrsuk-width-container">
///     <div class="ndrsuk-main-wrapper">
///      <!-- Wrapper for the main content of your page which applies padding
///           to the top / bottom -->
///     </div>
///   </div>
////

@mixin govuk-main-wrapper {
  @include top-and-bottom;
  display: block; // [1]
  padding-top: ndrsuk-spacing(4);
  padding-bottom: ndrsuk-spacing(4);

  @include mq($from: tablet) {
    padding-top: ndrsuk-spacing(7);
    padding-bottom: ndrsuk-spacing(7);
  }
}

@mixin govuk-main-wrapper--l {
  padding-top: ndrsuk-spacing(6);

  @include mq($from: tablet) {
    padding-top: ndrsuk-spacing(8);
  }
}

@mixin govuk-main-wrapper--s {
  padding-top: ndrsuk-spacing(3);
  padding-bottom: ndrsuk-spacing(3);

  @include mq($from: tablet) {
    padding-top: ndrsuk-spacing(4);
    padding-bottom: ndrsuk-spacing(4);
  }
}

@include govuk-exports("govuk/objects/main-wrapper") {
  .ndrsuk-main-wrapper {
    @include govuk-main-wrapper;
  }

  .ndrsuk-main-wrapper--l {
    @include govuk-main-wrapper--l;
  }

  .ndrsuk-main-wrapper--s {
    @include govuk-main-wrapper--s;
  }
}
