.ndrsuk-form-group {
  @include ndrsuk-responsive-margin(4, "bottom");

  .ndrsuk-form-group:last-of-type {
    margin-bottom: 0; // Remove margin from last item in nested groups
  }
}

.ndrsuk-form-group--wrapper {
  @include ndrsuk-responsive-margin(5, "bottom");
}

.ndrsuk-form-group--error {
  border-left: $ndrsuk-border-width-form-group-error solid $ndrsuk-error-color;
  padding-left: ndrsuk-spacing(3);

  .ndrsuk-form-group {
    // Reset error styles in nested form groups that might have error class
    border: 0;
    padding: 0;
  }
}
