/* ==========================================================================
   COMPONENTS/ #BACK-LINK
   ========================================================================== */

/**
 * 1. Allow space for the arrow.
 * 2. Align the icon with the start of the back link.
 * 3. Align the icon with the middle of the text.
 */

.ndrsuk-back-link {
  margin-bottom: ndrsuk-spacing(3);
}

.ndrsuk-back-link__link {
  @include ndrsuk-typography-responsive(16);
  @include ndrsuk-link-style-default;

  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 16px; /* 1 */
  position: relative;
  text-decoration: none;

  .ndrsuk-icon__chevron-left {
    height: 24px;
    left: -8px; /* 2 */
    position: absolute;
    top: -1px; /* 3 */
    width: 24px;
  }

  &:visited {
    color: $ndrsuk-link-color;
  }

  &:hover {
    color: $ndrsuk-link-hover-color;
    text-decoration: underline;

    .ndrsuk-icon__chevron-left {
      fill: $ndrsuk-link-hover-color;
    }
  }

  &:focus {
    .ndrsuk-icon__chevron-left {
      fill: $ndrsuk-focus-text-color;
    }
  }
}
