@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Error message component
///
/// @group components
////

.ndrsuk-error-message {
  clear: both;
  color: $ndrsuk-error-color;
  display: block;
  margin-bottom: ndrsuk-spacing(3);

  @include ndrsuk-font(19, $weight: bold);
}
