/* ==========================================================================
   COMPONENTS / #HEADER
   ========================================================================== */

/**
* The behaviour with regards to responsiveness is as follow:
 *
 * - Mobile to tablet view
 *   Menu toggle button visible and navigation links hidden, search toggle
     button visible and search form hidden
 *
 * - Tablet to desktop view
 *   Menu toggle button visible and navigation links hidden, search toggle
 *   button hidden and search form visible
 *
 * - Desktop+ view
 *   Menu toggle button hidden and navigation links visible, search toggle
 *   button hidden and search form visible
 */

.ndrsuk-header {
  background-color: $color_ndrsuk-blue;
}

.ndrsuk-header__container {
  @include govuk-width-container;
  padding: 20px 0;

  @include mq($until: tablet) {
    padding-bottom: 0;
  }

  @include mq($from: tablet) {
    border-bottom: 1px solid $color_transparent_ndrsuk-white-20;
    display: flex;
    justify-content: space-between;
  }
}

.ndrsuk-header__logo {
  @include mq($until: tablet) {
    position: relative;
    z-index: 1;
  }

  .ndrsuk-logo__background {
    fill: $color_ndrsuk-white;

    @include mq($media-type: print) {
      fill: $color_ndrsuk-blue;
    }
  }

  .ndrsuk-logo__text {
    fill: $color_ndrsuk-blue;

    @include mq($media-type: print) {
      fill: $color_ndrsuk-white;
    }
  }

  @include mq($from: tablet) {
    padding-left: 0;
  }

  .ndrsuk-logo {
    @include ndrsuk-logo-size;
    border: 0;
  }

  @include mq($until: desktop) {
    max-width: 60%;
  }

  @media (max-width: 450px) {
    max-width: 50%;
  }
}

.ndrsuk-header__link {
  @include ndrsuk-logo-size;
  display: block;

  &:hover {
    .ndrsuk-logo {
      box-shadow: 0 0 0 $ndrsuk-focus-width $color_shade_ndrsuk-blue-35;
    }
  }

  &:focus {
    box-shadow: none;

    .ndrsuk-logo {
      box-shadow: 0 0 0 $ndrsuk-focus-width $ndrsuk-focus-color,
        0 $ndrsuk-focus-width 0 $ndrsuk-focus-width $ndrsuk-focus-text-color;
    }
  }

  @include mq($media-type: print) {
    &:after {
      content: "";
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }
}

.ndrsuk-header__logo--only {
  max-width: 100%;

  @include mq($until: tablet) {
    padding-bottom: ndrsuk-spacing(3);
  }
  @include mq($from: tablet) {
    .ndrsuk-header__link--service {
      align-items: center;
      display: flex;
      -ms-flex-align: center;
      margin-bottom: 0;
      width: auto;
    }

    .ndrsuk-header__service-name {
      padding-left: ndrsuk-spacing(3);
    }
  }
}

.ndrsuk-header__content {
  @include print-hide();
  position: relative;

  &.js-show {
    border-bottom: ndrsuk-spacing(1) solid $color_ndrsuk-grey-5;
  }

  @include mq($from: tablet) {
    &.js-show {
      border-bottom: 0;
    }
  }
}

.ndrsuk-header__search {
  position: relative;
  text-align: right;

  @include mq($from: tablet) {
    margin-left: ndrsuk-spacing(2);
  }
}

.ndrsuk-header__search-no-nav {
  padding-bottom: ndrsuk-spacing(3);
}

.ndrsuk-header__search-form {
  height: 100%;
  overflow: visible;

  @include mq($until: tablet) {
    display: flex;
    margin: ndrsuk-spacing(3) 0 0;
    position: relative;
    width: 100%;
  }
}

.ndrsuk-header__search-wrap {
  @include mq($from: tablet) {
    display: block;
  }
}

.ndrsuk-search__input {
  -webkit-appearance: listbox;
  border-bottom-left-radius: $ndrsuk-border-radius;
  border-bottom-right-radius: 0;
  border-top-left-radius: $ndrsuk-border-radius;
  border-top-right-radius: 0;
  padding: 0 ndrsuk-spacing(3);
  &:focus {
    border: ndrsuk-spacing(1) solid $ndrsuk-focus-text-color;
    box-shadow: 0 0 0 $ndrsuk-focus-width $ndrsuk-focus-color;
    outline: $ndrsuk-focus-width solid transparent;
    outline-offset: $ndrsuk-focus-width;
    padding: 0 13px;
  }
  &::placeholder {
    color: $color_ndrsuk-grey-1;
    font-size: $ndrsuk-base-font-size;
  }
  &:-ms-input-placeholder {
    color: $color_ndrsuk-grey-1;
    font-size: $ndrsuk-base-font-size;
  }
  &::-webkit-input-placeholder {
    color: $color_ndrsuk-grey-1;
    font-size: $ndrsuk-base-font-size;
  }

  @include mq($until: tablet) {
    border: 1px solid $color_ndrsuk-white;
    border-bottom-right-radius: $ndrsuk-border-radius;
    border-top-right-radius: $ndrsuk-border-radius;
    flex-grow: 2;
    -ms-flex-positive: 2;
    font-size: inherit;
    height: 40px;
    margin: 0;
    outline: none;
    width: 100%;
    z-index: 1;
  }

  @include mq($from: tablet) {
    border: 1px solid $color_ndrsuk-white;
    font-size: $ndrsuk-base-font-size;
    height: ndrsuk-spacing(6);
    width: 200px;
  }

  @include mq($from: desktop) {
    width: 235px;
  }
}

.ndrsuk-search__submit {
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: $ndrsuk-border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: $ndrsuk-border-radius;
  float: right;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  padding: 0;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    cursor: pointer;
  }

  @include mq($until: tablet) {
    background-color: $color_ndrsuk-grey-5;
    border: 0;
    height: 40px;
    margin: 0;
    padding: ndrsuk-spacing(2) ndrsuk-spacing(2) 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;

    .ndrsuk-icon__search {
      fill: $color_ndrsuk-blue;
      height: 27px;
      width: 27px;
    }

    &:hover {
      background-color: $color_shade_ndrsuk-blue-35;
      border: 1px solid $color_ndrsuk-white;

      .ndrsuk-icon {
        fill: $color_ndrsuk-white;
      }
    }

    &:focus {
      background-color: $ndrsuk-focus-color;
      box-shadow: 0 -4px $ndrsuk-focus-color, 0 $ndrsuk-focus-width $ndrsuk-focus-text-color;
      outline: $ndrsuk-focus-width solid transparent;
      outline-offset: $ndrsuk-focus-width;

      &:hover {
        background-color: $ndrsuk-focus-color;

        .ndrsuk-icon {
          fill: $ndrsuk-focus-text-color;
        }
      }

      .ndrsuk-icon {
        fill: $ndrsuk-focus-text-color;
      }
    }
  }

  @include mq($from: tablet) {
    background-color: $color_ndrsuk-grey-5;
    display: block;
    height: ndrsuk-spacing(6);
    line-height: 1;
    width: 44px;

    .ndrsuk-icon__search {
      height: 27px;
      width: 27px;
    }

    &:hover {
      background-color: $color_shade_ndrsuk-blue-35;
      border: 1px solid $color_ndrsuk-white;

      .ndrsuk-icon__search {
        fill: $color_ndrsuk-white;
      }
    }

    &:focus {
      @include ndrsuk-focused-button();
      box-shadow: 0 -2px $ndrsuk-focus-color, 0 $ndrsuk-focus-width $ndrsuk-focus-text-color;
    }

    &:active {
      background-color: $color_shade_ndrsuk-blue-50;
      border: 0;

      .ndrsuk-icon__search {
        fill: $color_ndrsuk-white;
      }
    }
  }
}

.ndrsuk-header__navigation-link {
  @include ndrsuk-font(16);
  border-bottom: ndrsuk-spacing(1) solid transparent;
  border-top: ndrsuk-spacing(1) solid transparent;
  color: $color_ndrsuk-white;
  display: block;
  font-size: inherit;
  padding: ndrsuk-spacing(3) 12px;
  text-decoration: underline;
  white-space: nowrap;

  @include mq($from: tablet) {
    padding: 12px ndrsuk-spacing(3);
  }

  .ndrsuk-icon__chevron-right {
    fill: $color_ndrsuk-grey-3;
    position: absolute;
    right: ndrsuk-spacing(1);
    top: 11px;
  }

  &:visited {
    color: $color_ndrsuk-white;

    @include mq($from: large-desktop) {
      color: $color_ndrsuk-white;
    }
  }

  &:hover {
    box-shadow: none;
    color: $color_ndrsuk-white;
    text-decoration: none;

    @include mq($from: large-desktop) {
      color: $color_ndrsuk-white;
    }
  }

  &:active,
  &:focus {
    background-color: $ndrsuk-focus-color;
    border-bottom: $ndrsuk-focus-width solid $ndrsuk-focus-text-color;
    box-shadow: none;
    color: $ndrsuk-focus-text-color;
    outline: $ndrsuk-focus-width solid transparent;
    outline-offset: $ndrsuk-focus-width;
    text-decoration: none;

    &:hover {
      background-color: $ndrsuk-focus-color;
      color: $ndrsuk-focus-text-color;
    }

    &:visited {
      background-color: $ndrsuk-focus-color;
      color: $ndrsuk-focus-text-color;
    }
  }
}

// menu toggle button, only shows when screen can't fit all nav items
.ndrsuk-header__menu-toggle {
  background: transparent;
  border: 0;
  border-bottom: ndrsuk-spacing(1) solid transparent;
  border-radius: 0;
  border-top: ndrsuk-spacing(1) solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  position: relative;
  right: 0;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
  visibility: hidden;
  width: auto;
  z-index: 1;

  &.ndrsuk-header__navigation-link {
    padding-right: 30px;
  }

  @include mq($from: desktop) {
    display: none;
  }

  &:focus {
    text-decoration: none;

    .ndrsuk-icon__chevron-down {
      fill: $color_ndrsuk-black;
    }
  }
}

.ndrsuk-header__menu-toggle--visible {
  visibility: visible;
  display: block;
}

.ndrsuk-icon__chevron-down {
  .ndrsuk-header__menu-toggle[aria-expanded="true"] & {
    transform: rotate(270deg);
  }
}

.ndrsuk-navigation {
  display: flex;

  @include mq($until: tablet) {
    position: relative;
    z-index: 10;
  }
}

%ndrsuk-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// ul of visible nav
.ndrsuk-header__navigation-list {
  @extend %ndrsuk-navigation-list;
  @include govuk-width-container;

  width: 100%;

  @include mq($from: desktop) {
    display: flex;
    justify-content: space-between;
  }

  .js-enabled & {
    display: flex;
  }
}

.ndrsuk-header__navigation-item {
  margin-bottom: 0;
}

.ndrsuk-navigation-container {
  position: relative;
}

// ul of hidden nav
.ndrsuk-header__drop-down {
  @extend %ndrsuk-navigation-list;
  @include print-hide();
  background-color: $color_ndrsuk-white;
  border-bottom: ndrsuk-spacing(1) solid $color_ndrsuk-grey-5;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  left: 0;

  .ndrsuk-header__navigation-link {
    color: $color_ndrsuk-blue;
    padding: 12px ndrsuk-spacing(3);
  }

  .ndrsuk-header__navigation-item {
    border-top: 1px solid $color_ndrsuk-grey-5;
    margin-bottom: 0;

    @include mq($from: large-desktop) {
      border-top: 0;
      margin: 0;
      text-align: center;
    }
  }
}

.ndrsuk-header__drop-down--hidden {
  display: none;
}

.ndrsuk-mobile-menu-container {
  align-self: center;
  display: none;
}

.ndrsuk-mobile-menu-container--visible {
  display: block;
}

.ndrsuk-header__navigation-item--home {
  @include mq($from: desktop) {
    display: none;
  }
}
