@use "../tools" as *;

////
/// Page wrapper for the grid system
///
/// 1. In IE11 the `main` element can be used, but is not recognized  –
///    meaning it's not defined in IE's default style sheet,
///    so it uses CSS initial value, which is inline
///
/// @group objects
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)
///
/// @example html
///   <div class="ndrsuk-width-container">
///     <div class="ndrsuk-main-wrapper">
///      <!-- Wrapper for the main content of your page which applies padding
///           to the top / bottom -->
///     </div>
///   </div>
////

@mixin _ndrsuk-main-wrapper {
  display: block; // [1]
  padding-top: ndrsuk-spacing(4);
  padding-bottom: ndrsuk-spacing(4);
  @include ndrsuk-top-and-bottom;

  @include ndrsuk-media-query($from: tablet) {
    padding-top: ndrsuk-spacing(7);
    padding-bottom: ndrsuk-spacing(7);
  }
}

/// @deprecated To be removed in v10.0

@mixin govuk-main-wrapper {
  @include ndrsuk-warning(
    "govuk-main-wrapper",
    "govuk-main-wrapper is deprecated. Use `.ndrsuk-main-wrapper` class instead."
  );
  @include _ndrsuk-main-wrapper;
}

@mixin _ndrsuk-main-wrapper--l {
  padding-bottom: ndrsuk-spacing(6);
  padding-top: ndrsuk-spacing(6);

  @include ndrsuk-media-query($from: tablet) {
    padding-bottom: ndrsuk-spacing(8);
    padding-top: ndrsuk-spacing(8);
  }
}

/// @deprecated To be removed in v10.0

@mixin govuk-main-wrapper--l {
  @include ndrsuk-warning(
    "govuk-main-wrapper--l",
    "govuk-main-wrapper--l is deprecated. Use `.ndrsuk-main-wrapper--l` class instead."
  );
  @include _ndrsuk-main-wrapper--l;
}

@mixin _ndrsuk-main-wrapper--s {
  padding-top: ndrsuk-spacing(3);
  padding-bottom: ndrsuk-spacing(3);

  @include ndrsuk-media-query($from: tablet) {
    padding-top: ndrsuk-spacing(4);
    padding-bottom: ndrsuk-spacing(4);
  }
}

/// @deprecated To be removed in v10.0

@mixin govuk-main-wrapper--s {
  @include ndrsuk-warning(
    "govuk-main-wrapper--s",
    "govuk-main-wrapper--s is deprecated. Use `.ndrsuk-main-wrapper--s` class instead."
  );
  @include _ndrsuk-main-wrapper--s;
}

@include ndrsuk-exports("nhsuk/core/objects/main-wrapper") {
  .ndrsuk-main-wrapper {
    @include _ndrsuk-main-wrapper;
  }

  .ndrsuk-main-wrapper--l {
    @include _ndrsuk-main-wrapper--l;
  }

  .ndrsuk-main-wrapper--s {
    @include _ndrsuk-main-wrapper--s;
  }
}
