@use "sass:math";
@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Button component
///
/// 1. Ensure that any global link styles are overridden.
/// 2. Fix unwanted button padding in Firefox.
/// 3. Use a pseudo element to expand the click target area to include the
///    button's shadow as well, in case users try to click it.
/// 4. Use a pseudo element to expand and cover the button's bounds, used to
///    add a button shadow or border without affecting the total height
///
/// @group components
////

// Because the shadow (s0) is visually 'part of' the button, we need to reduce
// the height of the button to compensate by adjusting its padding (s2) and
// increase the bottom margin to include it (s1).
$button-border-radius: $ndrsuk-border-width-form-element * 2;
$button-shadow-size: $button-border-radius;
$button-padding-top-bottom-mobile: 8px;
$button-padding-top-bottom-desktop: 12px;
$button-padding-left-right: 16px;

.ndrsuk-button {
  -webkit-appearance: none;
  // Set shadow below the button [4]
  box-shadow: 0 $button-shadow-size 0 $ndrsuk-button-shadow-color; // s0
  background-color: $ndrsuk-button-color;
  border: $ndrsuk-border-width-form-element solid transparent;
  border-radius: $button-border-radius;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  margin-top: 0;
  padding: $button-padding-top-bottom-mobile $button-padding-left-right; // s2
  position: relative;
  text-align: center;
  vertical-align: top;
  width: auto;

  @include ndrsuk-font(19, $weight: bold);
  @include ndrsuk-responsive-margin(5, "bottom", $adjustment: $button-shadow-size); // s1

  @include ndrsuk-media-query($from: tablet) {
    padding: $button-padding-top-bottom-desktop $button-padding-left-right; // s2
  }

  // [1]
  &,
  &:hover,
  &:active {
    text-decoration: none;

    &,
    &:visited {
      color: $ndrsuk-button-text-color;
    }
  }

  // [2]
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    background-color: $ndrsuk-button-hover-color;
  }

  // Reset focus styles added to buttons as links
  &:focus {
    box-shadow: none;
    outline: none;
  }

  // Add button focus styles ensuring the active "pressed" state has priority
  &:focus:not(:active),
  &:focus:not(:active):hover {
    @include ndrsuk-focused-button;

    // stylelint-disable-next-line no-duplicate-selectors
    & {
      // Set shadow below the button [4]
      box-shadow: 0 $button-shadow-size 0 $ndrsuk-focus-text-color; // s0
    }
  }

  // Remove button shadow when pressed
  &:active,
  &:active:focus {
    box-shadow: none;
    background-color: $ndrsuk-button-active-color;
    top: $button-shadow-size;
  }

  // Default pseudo element styles for [3] and [4] below
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -$ndrsuk-border-width-form-element;
    right: -$ndrsuk-border-width-form-element;
    bottom: -$ndrsuk-border-width-form-element;
    left: -$ndrsuk-border-width-form-element;
    border-radius: $button-border-radius;
  }

  // Use a pseudo element to expand the click target area to include the
  // button's shadow as well, in case users try to click it [3]
  &::before {
    bottom: -($ndrsuk-border-width-form-element + $button-shadow-size);
    border: $ndrsuk-border-width-form-element solid transparent;
    background-color: transparent;
  }

  // When the button is active it is shifted down by $button-shadow-size to
  // denote a 'pressed' state. If the user happened to click at the very top
  // of the button, their mouse is no longer over the button (because it has
  // 'moved beneath them') and so the click event is not fired.
  //
  // This corrects that by shifting the top of the pseudo element so that it
  // continues to cover the area that the user originally clicked, which means
  // the click event is still fired.
  &:active::before {
    top: -($ndrsuk-border-width-form-element + $button-shadow-size);
    bottom: -$ndrsuk-border-width-form-element;
  }
}

/// Button variations

.ndrsuk-button--secondary,
.ndrsuk-button--secondary-solid {
  &,
  &:visited,
  &:hover,
  &:hover:visited,
  &:active,
  &:active:visited {
    color: $ndrsuk-secondary-button-text-color;
  }

  &:hover {
    background-color: $ndrsuk-secondary-button-hover-color;
  }

  // Set border for active state (no shadow)
  &:active,
  &:active:focus {
    background-color: $ndrsuk-secondary-button-active-color;
    border-color: $ndrsuk-secondary-button-border-color;
    border-radius: $button-border-radius;
  }

  // Set border on click area for default and hover states which allows the
  // border to render underneath the shadow and hide pixel artifacts, but
  // ensuring the active "pressed" and focus states have priority [3]
  &:not(:focus):not(:active)::before {
    border-color: $ndrsuk-secondary-button-border-color;
  }

  // Set shadow on both the button and the pseudo element. The button shadow
  // remains in place to prevent any pixel gaps due to browser rounding [4]
  &,
  &::after {
    box-shadow: 0 $button-shadow-size 0 $ndrsuk-secondary-button-shadow-color; // s0
  }

  // Inset the pseudo element shadow away from the edges, to restore lost
  // border radius (and its shadow) previously hidden by the 2px border [4]
  &:not(:focus)::after {
    left: 0;
    right: 0;
    border-radius: math.div($button-border-radius, 2);
  }

  // Remove the pseudo element shadow when focused or pressed
  &:focus::after,
  &:active::after {
    box-shadow: none;
  }
}

.ndrsuk-button--secondary {
  background-color: $ndrsuk-secondary-button-color;
}

.ndrsuk-button--secondary-solid {
  background-color: $ndrsuk-secondary-button-solid-background-color;
}

.ndrsuk-button--reverse {
  // Set shadow below the button [4]
  box-shadow: 0 $button-shadow-size 0 $ndrsuk-reverse-button-shadow-color; // s0
  background-color: $ndrsuk-reverse-button-color;

  &,
  &:visited,
  &:hover,
  &:hover:visited,
  &:active,
  &:active:visited {
    color: $ndrsuk-reverse-button-text-color;
  }

  &:hover {
    background-color: $ndrsuk-reverse-button-hover-color;
  }

  &:active,
  &:active:focus {
    background-color: $ndrsuk-reverse-button-active-color;
  }
}

.ndrsuk-button--warning {
  // Set shadow below the button [4]
  box-shadow: 0 $button-shadow-size 0 $ndrsuk-warning-button-shadow-color; // s0
  background-color: $ndrsuk-warning-button-color;

  &:hover {
    background-color: $ndrsuk-warning-button-hover-color;
  }

  &:active,
  &:active:focus {
    background-color: $ndrsuk-warning-button-active-color;
  }
}

.ndrsuk-button--login {
  // Set shadow below the button [4]
  box-shadow: 0 $button-shadow-size 0 $ndrsuk-login-button-shadow-color; // s0
  background-color: $ndrsuk-login-button-color;

  &:hover {
    background-color: $ndrsuk-login-button-hover-color;
  }

  &:active,
  &:active:focus {
    background-color: $ndrsuk-login-button-active-color;
  }
}

/// Button disabled states

.ndrsuk-button--disabled,
.ndrsuk-button:disabled {
  opacity: (0.5);
  pointer-events: none;
}
