@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Label component
///
/// @group components
////

.ndrsuk-label {
  display: block;
  margin-bottom: ndrsuk-spacing(1);

  @include ndrsuk-font(19);
}

// Modifiers that make labels look more like their equivalent headings
.ndrsuk-label--xl,
.ndrsuk-label--l,
.ndrsuk-label--m {
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;
  margin-bottom: ndrsuk-spacing(3);
}

.ndrsuk-label--xl {
  @include ndrsuk-font-size(48);
}

.ndrsuk-label--l {
  @include ndrsuk-font-size(36);
}

.ndrsuk-label--m {
  @include ndrsuk-font-size(26);
}

.ndrsuk-label--s {
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-font-size(19);
}

// When the label is nested inside a heading, override the heading so that it
// does not have a margin. Effectively we want to be able to treat the heading
// as if it is not there.
//
// This breaks BEM conventions because it exists as a parent of the 'block',
// so we can't really consider an element.
.ndrsuk-label-wrapper {
  margin: 0;
}
