@use "../settings" as *;
@use "../tools" as *;

////
/// Tables
///
/// 1. Force `<table>`s to be full-width by default.
/// 2. Allow word breaks anywhere to prevent table fit-to-content.
/// 3. Allow word breaks when necessary (deprecated but works, unlike overflow-wrap).
///
/// @group elements
////

table {
  border-spacing: 0;
  vertical-align: top;
  width: 100%; // [1]

  @include ndrsuk-responsive-margin(7, "bottom");

  .ndrsuk-u-text-break-word {
    word-break: break-all; // [2]
    word-break: break-word; // [3]
  }

  @include ndrsuk-media-query($media-type: print) {
    page-break-inside: avoid;
  }
}

thead {
  th {
    border-bottom: $ndrsuk-border-table-header-width solid $ndrsuk-border-color;
  }
}

th,
td {
  padding-left: 0;

  border-bottom: $ndrsuk-border-table-cell-width solid $ndrsuk-border-color;
  text-align: left;
  vertical-align: top;

  @include ndrsuk-font-size(19);
  @include ndrsuk-responsive-padding(3, "bottom");
  @include ndrsuk-responsive-padding(4, "right");
  @include ndrsuk-responsive-padding(3, "top");

  &:last-child {
    padding-right: 0;
  }
}

th {
  font-weight: $ndrsuk-font-bold;
}

caption {
  text-align: left;
  @include ndrsuk-font($size: 22, $weight: bold);
}
