////
/// Link nowrap
///
/// Prevent long anchor links from line breaking
/// on smaller screens
///
/// @group utilities
///
/// @example html
///   <a href="#" class="ndrsuk-u-nowrap"></a>
////

.ndrsuk-u-nowrap {
  @include mq($until: tablet) {
    white-space: nowrap;
  }
}
