////
/// Typography
///
/// @group utilities
////

// Utility classes are allowed to use !important;
// so we disable stylelint for that rule

/// Font size and line height
///
/// Generate typography override classes for each responsive font map in the
/// typography scale eg .ndrsuk-u-font-size-48
///
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)

@each $size in map-keys($ndrsuk-typography-scale) {
  .ndrsuk-u-font-size-#{$size} {
    @include ndrsuk-typography-responsive($size, $important: true);
  }
}

/// Weights
///
/// Generate font weight override classes for normal and bold
///
/// @example html
///   <h3 class="ndrsuk-heading-s ndrsuk-u-font-weight-normal">Example</h3>
///   <p class="ndrsuk-u-font-weight-bold">Example</p>

.ndrsuk-u-font-weight-normal {
  @include ndrsuk-typography-weight-normal($important: true);
}

.ndrsuk-u-font-weight-bold {
  @include ndrsuk-typography-weight-bold($important: true);
}

/// Colours

/// Secondary text colour
///
/// @example html
///   <p class="ndrsuk-u-secondary-text-color">Published on: 15 March 2018</p>

.ndrsuk-u-secondary-text-color {
  // stylelint-disable-next-line declaration-no-important
  color: $ndrsuk-secondary-text-color !important;
}
