////
/// Visually hidden
///
/// Hide elements visually but keep it in the DOM
///
/// @group utilities
///
/// @example html
///   <span class="ndrsuk-u-visually-hidden">Error:</span>
////

.ndrsuk-u-visually-hidden {
  @include visually-hidden;
}
