////
/// Widths
///
/// Force element widths on all screen sizes
///
/// @group utilities
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)
///
/// @example html
///   <input class="ndrsuk-input ndrsuk-u-width-full" id="example" name="example" type="text">
////

@use "sass:math";

// Utility classes are allowed to use !important;
// so we disable stylelint for that rule
// stylelint-disable declaration-no-important

.ndrsuk-u-width-full {
  width: 100% !important;
}

.ndrsuk-u-width-three-quarters {
  width: 100% !important;

  @include mq($from: tablet) {
    width: math.percentage(math.div(3, 4)) !important;
  }
}

.ndrsuk-u-width-two-thirds {
  width: 100% !important;

  @include mq($from: tablet) {
    width: math.percentage(math.div(2, 3)) !important;
  }
}

.ndrsuk-u-width-one-half {
  width: 100% !important;

  @include mq($from: tablet) {
    width: math.percentage(math.div(1, 2)) !important;
  }
}

.ndrsuk-u-width-one-third {
  width: 100% !important;

  @include mq($from: tablet) {
    width: math.percentage(math.div(1, 3)) !important;
  }
}

.ndrsuk-u-width-one-quarter {
  width: 100% !important;

  @include mq($from: tablet) {
    width: math.percentage(math.div(1, 4)) !important;
  }
}
