// ==========================================================================
// TOOLS / #FOCUSED
// ==========================================================================

//
// Focused text
//
// Provides an outline to clearly indicate when the target element is focused.
// Used for interactive text-based elements.
//

@mixin ndrsuk-focused-text {
  background-color: $ndrsuk-focus-color;
  box-shadow: 0 -2px $ndrsuk-focus-color, 0 $ndrsuk-focus-width $ndrsuk-focus-text-color;
  color: $ndrsuk-focus-text-color;
  // When colours are overridden, for example when users have a dark mode,
  // backgrounds and box-shadows disappear, so we need to ensure there's a
  // transparent outline which will be set to a visible colour.
  outline: $ndrsuk-focus-width solid transparent;
  // When link is focussed, hide the default underline since the
  // box shadow adds the "underline"
  text-decoration: none;
}

/// Focused input (form elements)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used for interactive input-based elements such
/// as text inputs.

@mixin ndrsuk-focused-input {
  border: 2px solid $ndrsuk-focus-text-color;
  box-shadow: inset 0 0 0 2px;
  outline: $ndrsuk-focus-width solid $ndrsuk-focus-color; /* 1 */
  outline-offset: 0;
}

/// Focused radio input (form element)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used by radios.

@mixin ndrsuk-focused-radio {
  border: $ndrsuk-focus-width solid $ndrsuk-focus-text-color;
  box-shadow: 0 0 0 $ndrsuk-focus-width $ndrsuk-focus-color;
}

/// Focused checkbox input (form element)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used by checkbox.

@mixin ndrsuk-focused-checkbox {
  border: $ndrsuk-focus-width solid $ndrsuk-focus-text-color;
  box-shadow: 0 0 0 $ndrsuk-focus-width $ndrsuk-focus-color;
}

/// Focused button
///
/// Provides an additional outline and background to clearly indicate when
/// the target element has focus. Used for buttons.

@mixin ndrsuk-focused-button {
  background-color: $ndrsuk-focus-color;
  border: 0;
  box-shadow: 0 $ndrsuk-focus-width 0 0 $ndrsuk-focus-text-color;
  color: $ndrsuk-focus-text-color;
  outline: $ndrsuk-focus-width solid transparent; /* 1 */
  outline-offset: $ndrsuk-focus-width;

  .ndrsuk-icon {
    fill: $ndrsuk-focus-text-color;
  }
}
