/* ==========================================================================
   COMPONENTS / #FOOTER
   ========================================================================== */

.ndrsuk-footer-container {
  @include clearfix();
  @include print-hide();
  @include ndrsuk-responsive-padding(5, bottom);
  @include ndrsuk-responsive-padding(5, top);

  background-color: $color_ndrsuk-grey-4;
  border-top: ndrsuk-spacing(1) solid $color_ndrsuk-blue;
}

.ndrsuk-footer {
  background-color: $color_ndrsuk-grey-4;
  margin-bottom: 15px;

  @include mq($from: desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.ndrsuk-footer__list {
  @include ndrsuk-responsive-padding(4, bottom);

  list-style-type: none;
  margin-bottom: 25px;
  padding-left: ndrsuk-spacing(0);

  &:last-child {
    margin-bottom: 15px;
  }

  @include mq($from: desktop) {
    float: left;
    padding-bottom: 0;
    padding-right: 40px;
    width: 75%;

    &:last-child {
      padding-right: 0;
    }
  }
}

.ndrsuk-footer__list-item {
  @include ndrsuk-font(16);

  @include mq($from: desktop) {
    float: none;
    margin-right: 0;
  }
}

.ndrsuk-footer-default__list-item {
  @include mq($from: desktop) {
    float: left;
    margin-right: ndrsuk-spacing(5);
  }
}

.ndrsuk-footer__list-item-link {
  color: $ndrsuk-footer-link-text-color;

  &:visited {
    color: $ndrsuk-footer-link-text-color;
  }

  &:hover {
    color: $ndrsuk-link-hover-color;
  }
}

.ndrsuk-footer__copyright {
  @include ndrsuk-font(16);

  color: $ndrsuk-footer-copyright-text-color;
  margin-bottom: 0;
}

.ndrsuk-footer__meta {
  @include mq($until: desktop) {
    border-top: 1px solid #f0f4f5;
    padding-top: 35px;
  }
}
