/* ==========================================================================
   COMPONENTS/ #HINT
   ========================================================================== */

.ndrsuk-hint {
  @include ndrsuk-font(19);

  color: $ndrsuk-secondary-text-color;
  display: block;
  margin-bottom: ndrsuk-spacing(3);
}

// Reduces margin-bottom of hint when used after the default label (no class)
// or ndrsuk-label--s for better vertical alignment.

// This adjustment will not work when the label is inside the <h1>, however it
// is unlikely that the default or ndrsuk-label--s class would be used in this
// case.

// This adjustment will not work in browsers that do not support :not().
// Users with these browsers will see the default size margin (5px larger).

.ndrsuk-label:not(.ndrsuk-label--m):not(.ndrsuk-label--l):not(.ndrsuk-label--xl) + .ndrsuk-hint {
  margin-bottom: ndrsuk-spacing(2);
}

// Reduces margin-bottom of hint when used after the default legend (no class)
// or ndrsuk-fieldset__legend--s for better vertical alignment.

// This adjustment will not work when the legend is outside the <h1>, however
// it is unlikely that the default or ndrsuk-fieldset__legend--s class would be
// used in this case.

// This adjustment will not work in browsers that do not support :not().
// Users with these browsers will see the default size margin (5px larger).

.ndrsuk-fieldset__legend:not(.ndrsuk-fieldset__legend--m):not(.ndrsuk-fieldset__legend--l):not(
    .ndrsuk-fieldset__legend--xl
  )
  + .ndrsuk-hint {
  margin-bottom: ndrsuk-spacing(2);
}

// Reduces visual spacing of legend when there is a hint

.ndrsuk-fieldset__legend + .ndrsuk-hint {
  margin-top: -(ndrsuk-spacing(1));
}
