////
/// Input component
///
/// 1. Disable inner shadow and remove rounded corners
/// 2. setting any background-color makes text invisible when changing colours to dark
///    backgrounds in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1335476)
///    as background-color and color need to always be set together, color should
///    not be set either.
///
/// @group components
////

.ndrsuk-input {
  @include ndrsuk-font(19);
  -moz-appearance: none; // [1]
  -webkit-appearance: none; // [1]
  appearance: none; // [1]
  border: $ndrsuk-border-width-form-element solid $ndrsuk-form-border-color; // [2]
  border-radius: 0;
  box-sizing: border-box;
  min-height: 40px;
  margin-top: 0;
  padding: ndrsuk-spacing(1);
  width: 100%;

  &:focus {
    @include ndrsuk-focused-input;
  }
}

.ndrsuk-input::-webkit-outer-spin-button,
.ndrsuk-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ndrsuk-input[type="number"] {
  -moz-appearance: textfield;
}

.ndrsuk-input--error {
  border: $ndrsuk-border-width-form-element-error solid $ndrsuk-error-color;
}

// The ex measurements are based on the number of W's that can fit inside the input
// Extra space is left on the right hand side to allow for the Safari prefill icon
// Linear regression estimation based on visual tests: y = 1.76 + 1.81x

.ndrsuk-input--width-30 {
  max-width: 56ex + 3ex;
}

.ndrsuk-input--width-20 {
  max-width: 38ex + 3ex;
}

.ndrsuk-input--width-10 {
  max-width: 20ex + 3ex;
}

.ndrsuk-input--width-5 {
  max-width: 10.8ex;
}

.ndrsuk-input--width-4 {
  max-width: 9ex;
}

.ndrsuk-input--width-3 {
  max-width: 7.2ex;
}

.ndrsuk-input--width-2 {
  max-width: 5.4ex;
}

/// Suffix and prefix

.ndrsuk-input__wrapper {
  display: flex;

  @include mq($until: mobile) {
    display: block;
  }
}

.ndrsuk-input__prefix,
.ndrsuk-input__suffix {
  @include ndrsuk-font($size: 19);

  background-color: $color_ndrsuk-grey-4;
  border: $ndrsuk-border-width-form-element solid $ndrsuk-form-border-color;
  box-sizing: border-box;
  cursor: default; // emphasises non-editable status of prefixes and suffixes
  display: inline-block;
  flex: 0 0 auto;
  min-height: 40px;
  min-width: ndrsuk-px-to-rem(40px);
  padding: ndrsuk-spacing(1);
  text-align: center;
  white-space: nowrap;

  @include mq($until: mobile) {
    max-width: 9.1ex;
    display: block;
    height: 100%;
    white-space: normal;
  }

  @include mq($until: tablet) {
    line-height: 1.6;
    font-size: 1.1875rem;
  }
}

.ndrsuk-input__prefix {
  @include mq($until: mobile) {
    border-bottom: 0;
  }
  @include mq($from: mobile) {
    border-right: 0;
  }
}

.ndrsuk-input__suffix {
  @include mq($until: mobile) {
    border-top: 0;
  }
  @include mq($from: mobile) {
    border-left: 0;
  }
}
