////
/// Pagination component
///
/// 1. Padding to give the icon spacing.
/// 2. Append the word 'page' after next and
///    previous on print stylesheets to make it easier
///    to understand in print context.
///
/// @group components
////

.ndrsuk-pagination {
  @include ndrsuk-responsive-margin(7, "top");
  @include ndrsuk-responsive-margin(7, "bottom");
}

.ndrsuk-pagination__list {
  @include clearfix;
}

.ndrsuk-pagination-item--previous {
  float: left;
  text-align: left;
  width: 50%;

  .ndrsuk-icon {
    left: -6px;
  }

  .ndrsuk-pagination__title {
    padding-left: ndrsuk-spacing(5); // [1]
  }
}

.ndrsuk-pagination-item--next {
  float: right;
  text-align: right;
  width: 50%;

  .ndrsuk-icon {
    right: -6px;
  }

  .ndrsuk-pagination__title {
    padding-right: ndrsuk-spacing(5); // [1]
  }
}

.ndrsuk-pagination__link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;

  @include mq($media-type: print) {
    color: $color_ndrsuk-black;
  }

  .ndrsuk-icon {
    position: absolute;
    top: -2px;

    @include mq($media-type: print) {
      color: $color_ndrsuk-black;
      margin-top: 0;
    }
  }

  &:hover {
    color: $ndrsuk-link-hover-color;

    .ndrsuk-icon {
      fill: $ndrsuk-link-hover-color;
    }

    .ndrsuk-pagination__page {
      text-decoration: none;
    }
  }

  &:focus {
    @include ndrsuk-focused-text;

    .ndrsuk-pagination__page {
      text-decoration: none;
    }

    &:visited,
    &:hover,
    &:active {
      .ndrsuk-icon {
        fill: $ndrsuk-focus-text-color;
      }
    }
  }

  &:visited {
    .ndrsuk-icon {
      fill: $ndrsuk-link-visited-color;
    }

    &:hover {
      .ndrsuk-icon {
        fill: $ndrsuk-link-hover-color;
      }
    }

    &:focus {
      .ndrsuk-icon {
        fill: $ndrsuk-focus-text-color;
      }
    }
  }
}

.ndrsuk-pagination__title {
  @include ndrsuk-typography-responsive(24);

  display: block;

  @include mq($media-type: print) {
    &::after {
      content: " page"; // [2]
    }
  }
}

.ndrsuk-pagination__page {
  @include ndrsuk-typography-responsive(16);

  display: block;
  text-decoration: underline;
}
