@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Select component
///
/// Input sizing:
///
/// 1. Uses rems so that safari input scales with font size
/// 2. This min-width was chosen because:
///    - it makes the Select wider than it is tall (which is what users expect)
///    - 20ex + 3ex matches the 'width-10' variant of the input component
///    - it fits comfortably on screens as narrow as 240px wide
///
/// @group components
////

.ndrsuk-select {
  background-color: $color_ndrsuk-white;
  border: $ndrsuk-border-width-form-element solid $ndrsuk-form-border-color;
  box-sizing: border-box;
  color: $color_ndrsuk-black;
  height: 2.5rem; // [1]
  min-width: 20ex + 3ex; // [2]
  max-width: 100%;
  padding: ndrsuk-spacing(1);

  @include ndrsuk-font(19);

  &:focus {
    @include ndrsuk-focused-input;
  }
}

.ndrsuk-select option:active,
.ndrsuk-select option:checked,
.ndrsuk-select:focus::-ms-value {
  background-color: $color_ndrsuk-blue;
  color: $color_ndrsuk-white;
}

.ndrsuk-select--error {
  border: $ndrsuk-border-width-form-element-error solid $ndrsuk-error-color;
}
