<% if controller.navigation_items.present? %>
  <nav aria-label="Menu">
    <ul role="list" class="-mx-2 space-y-1">
      <%# Rails.application.routes.recognize_path() %>
      <% controller.navigation_items.each do |item| %>
        <li>
          <%= hdi_sidebar_navigation_svg(item) %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
