////
/// Inset text component
///
/// 1. Removes top margin from first element and bottom margin from last,
///    to ensure correct spacing within the component.
/// 2. Restricts the width of the text to optimise the line length for
///    readability.
///
/// @group components
////

.ndrsuk-inset-text {
  @include top-and-bottom; // [1]
  @include reading-width; // [2]

  @include ndrsuk-responsive-margin(7, "bottom");
  @include ndrsuk-responsive-margin(7, "top");
  @include ndrsuk-responsive-padding(4);

  border-left: $ndrsuk-border-width-inset-text solid $color_ndrsuk-blue;

  @include mq($media-type: print) {
    border-color: $ndrsuk-print-text-color;
  }
}
