@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Panel component
///
/// 1. Adds a transparent border for high contrast modes
/// 2. This subtracts the transparent border width from the padding (because the border
///    visually adds to the total padding)
/// 3. This is an if-all-else-fails attempt to stop long words from overflowing the container
///    on very narrow viewports by forcing them to break and wrap instead. This
///    overflowing is more likely to happen when user increases text size on a mobile eg. using
///    iOS Safari text resize controls.

///    The overflowing is a particular problem with the panel component since it uses white
///    text: when the text overflows the container, it is invisible on the white (page)
///    background. When the text in our other components overflow, the user might have to scroll
///    horizontally to view it but the text remains legible.
///
/// @group components
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)
////

$ndrsuk-border-width-panel: ndrsuk-spacing(1);

.ndrsuk-panel {
  background: $color_ndrsuk-green;
  border: $ndrsuk-border-width-panel solid transparent; /* [1] */
  box-sizing: border-box;
  color: $color_ndrsuk-white;
  padding: ndrsuk-spacing(5) - $ndrsuk-border-width-panel; /* [2] */

  @include ndrsuk-font-size(26);
  @include ndrsuk-responsive-margin(4, "bottom");

  @include ndrsuk-media-query($until: tablet) {
    padding: ndrsuk-spacing(4) - $ndrsuk-border-width-panel; /* [2] */
    @include ndrsuk-text-break-word; /* [3] */
  }

  @include ndrsuk-media-query($media-type: print) {
    border-color: currentcolor;
    color: $ndrsuk-print-text-color;
    background: none;
  }
}

.ndrsuk-panel__title {
  margin-top: 0;

  @include ndrsuk-font-size(48);
  @include ndrsuk-responsive-margin(5, "bottom");
}

.ndrsuk-panel__title:last-child {
  margin-bottom: 0;
}
