////
/// Warning callout component
///
/// 1. Uses @mixin panel-with-label from tools/_mixins.
/// 2. Uses @mixin heading-label from tools/_mixins.
///
/// @group components
////

.ndrsuk-warning-callout {
  @include panel-with-label($color_ndrsuk-pale-yellow, $ndrsuk-text-color, $color_ndrsuk-yellow); // [1]
}

.ndrsuk-warning-callout__label {
  @include heading-label($color_ndrsuk-yellow, $ndrsuk-text-color); // [2]
}
