@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Summary list component
///
/// 1. Required to allow us to wrap words that overflow.
/// 2. Reset default user agent styles
/// 3. Automatic wrapping for unbreakable text (e.g. URLs)
///
/// @group components
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)
////

.ndrsuk-summary-list {
  margin: 0; // [2]

  @include ndrsuk-font($size: 19);
  @include ndrsuk-responsive-margin(6, "bottom");

  @include ndrsuk-media-query($from: tablet) {
    border-collapse: collapse;
    display: table;
    table-layout: fixed; // [1]
    width: 100%;
  }
}

.ndrsuk-summary-list__row {
  border-bottom: 1px solid $ndrsuk-border-color;

  @include ndrsuk-media-query($until: tablet) {
    margin-bottom: ndrsuk-spacing(3);
  }
  @include ndrsuk-media-query($from: tablet) {
    display: table-row;
  }
}

// Remove right padding from the last column in the row
.ndrsuk-summary-list__row:not(.ndrsuk-summary-list__row--no-actions) > :last-child {
  padding-right: 0;
}

// Provide an empty 'cell' for rows that don't have actions – otherwise the
// bottom border is not drawn for that part of the row in some browsers.
.ndrsuk-summary-list__row--no-actions {
  @include ndrsuk-media-query($from: tablet) {
    &::after {
      content: "";
      display: table-cell;
      width: 20%;
    }
  }
}

.ndrsuk-summary-list__key,
.ndrsuk-summary-list__value,
.ndrsuk-summary-list__actions {
  margin: 0; // [2]
  vertical-align: top;

  @include ndrsuk-media-query($from: tablet) {
    display: table-cell;
    padding-bottom: ndrsuk-spacing(2);
    padding-right: ndrsuk-spacing(4);
    padding-top: ndrsuk-spacing(2);
  }
}

.ndrsuk-summary-list__actions {
  margin-bottom: ndrsuk-spacing(3);

  @include ndrsuk-media-query($from: tablet) {
    text-align: right;
    width: 20%;
  }
}

.ndrsuk-summary-list__key,
.ndrsuk-summary-list__value {
  @include ndrsuk-text-break-word; // [3]
}

.ndrsuk-summary-list__key {
  margin-bottom: ndrsuk-spacing(1);

  @include ndrsuk-typography-weight-bold;

  @include ndrsuk-media-query($from: tablet) {
    width: 30%;
  }
}

.ndrsuk-summary-list__value {
  @include ndrsuk-media-query($until: tablet) {
    margin-bottom: ndrsuk-spacing(3);
  }
}

.ndrsuk-summary-list__value > p {
  margin-bottom: 12px;
}

.ndrsuk-summary-list__value > :last-child {
  margin-bottom: 0;
}

.ndrsuk-summary-list__actions-list {
  margin: 0; // [2]
  padding: 0; // [2]
  width: 100%;
}

.ndrsuk-summary-list__actions-list-item {
  display: inline-block;

  @include ndrsuk-media-query($until: tablet) {
    border-right: 1px solid $ndrsuk-border-color;
    margin-right: ndrsuk-spacing(2);
    padding-right: ndrsuk-spacing(2);

    &:last-child {
      border: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }

  @include ndrsuk-media-query($from: tablet) {
    margin-left: ndrsuk-spacing(2);
    padding-left: ndrsuk-spacing(2);

    &:first-child {
      border: 0;
      margin-left: 0;
      padding-left: 0;
    }

    &:not(:first-child) {
      border-left: 1px solid $ndrsuk-border-color;
    }
  }
}

// Large groups of action links may wrap onto multiple lines. Because the link
// focus styles are applied outside of the link's bounding box, there are
// situations where the focus style on a link can be overlapped by subsequent
// links. We don't want this, so let's create a new stacking context on focus
// so the link always appears to be 'on top'.
.ndrsuk-summary-list__actions-list-item .ndrsuk-link:focus {
  isolation: isolate;
}

// No border on entire summary list
.ndrsuk-summary-list--no-border {
  .ndrsuk-summary-list__row {
    border: 0;
  }

  // Increase padding by 1px to compensate for 'missing' border
  @include ndrsuk-media-query($from: tablet) {
    .ndrsuk-summary-list__key,
    .ndrsuk-summary-list__value,
    .ndrsuk-summary-list__actions {
      padding-bottom: ndrsuk-spacing(2) + 1px;
    }
  }
}

// No border on specific rows
.ndrsuk-summary-list__row--no-border {
  border: 0;

  // Increase padding by 1px to compensate for 'missing' border
  @include ndrsuk-media-query($from: tablet) {
    .ndrsuk-summary-list__key,
    .ndrsuk-summary-list__value,
    .ndrsuk-summary-list__actions {
      padding-bottom: ndrsuk-spacing(2) + 1px;
    }
  }
}
