/* ==========================================================================
   COMPONENTS/ #SELECT
   ========================================================================== */

.ndrsuk-select {
  @include ndrsuk-font(19);

  border: $ndrsuk-border-width-form-element solid $ndrsuk-form-border-color;
  box-sizing: border-box;
  min-height: 40px;
  max-width: 100%;
  padding: ndrsuk-spacing(1);

  &:focus {
    @include ndrsuk-focused-input;
  }
}

.ndrsuk-select option:active,
.ndrsuk-select option:checked,
.ndrsuk-select:focus::-ms-value {
  background-color: $color_ndrsuk-blue;
  color: $color_ndrsuk-white;
}

.ndrsuk-select--error {
  border: $ndrsuk-border-width-form-element-error solid $ndrsuk-error-color;
}
