@use "../settings/warnings" as *;
@forward ".";

@include ndrsuk-warning(
  "import-using-all",
  "Importing using 'core/tools/all' is deprecated. Update your import statement to import 'core/tools'.",
  $silence-further-warnings: false
);
