@use "sass:map";
@use "sass:math";
@use "../settings" as *;
@use "mixins" as *;
@use "sass-mq" as *;

////
/// Grid
///
/// @group tools
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)
////

/// Grid width percentage
///
/// @param {String} $key - Name of grid width (e.g. two-thirds)
/// @return {Number} Percentage width
/// @throw if `$key` is not a valid grid width

@function ndrsuk-grid-width($key) {
  @if map.has-key($ndrsuk-grid-widths, $key) {
    @return map.get($ndrsuk-grid-widths, $key);
  }

  @error "Unknown grid width `#{$key}`";
}

/// Grid width percentage (alias)
///
/// @alias ndrsuk-grid-width
/// @deprecated To be removed in v10.0, replaced by ndrsuk-grid-width

@function grid-width($key) {
  @warn "The `grid-width` function will be removed in a future release, use `ndrsuk-grid-width` instead.";
  @return ndrsuk-grid-width($key);
}

/// Generate grid row styles
///
/// Creates a grid row class with a standardised margin.
///
/// @param {String} $class [ndrsuk-grid-row] CSS class name
///
/// @example scss - Default
///   @include govuk-grid-row;
///
/// @example scss - Customising the class name
///   @include govuk-grid-row("app-grid");
///
/// @deprecated To be removed in v10.0, replaced by the ndrsuk-grid-row class

@mixin ndrsuk-grid-row($class: "ndrsuk-grid-row") {
  @include ndrsuk-warning("ndrsuk-grid-row", "ndrsuk-grid-row is deprecated. Use `.ndrsuk-grid-row` class instead.");

  .#{$class} {
    @include ndrsuk-clearfix;
    margin-right: -($ndrsuk-gutter-half);
    margin-left: -($ndrsuk-gutter-half);
  }
}

/// Generate grid row styles (deprecated)
///
/// @alias ndrsuk-grid-row
/// @deprecated To be removed in v10.0

@mixin govuk-grid-row($args...) {
  @include ndrsuk-warning("govuk-grid-row", "govuk-grid-row is deprecated. Use `.ndrsuk-grid-row` class instead.");
  @include ndrsuk-grid-row($args...);
}

/// Generate grid column styles
///
/// Creates a grid column with standard gutter between the columns.
///
/// If a `$class` is provided (which is the default, but deprecated behaviour),
/// the generated rules will be wrapped in a predefined selector in the format
/// `$class-$width` (e.g. `ndrsuk-grid-column-full`). This behaviour is
/// deprecated and will be removed in v10.0
///
/// Grid widths are defined in the `$ndrsuk-grid-widths` map.
///
/// By default the column width changes from 100% to specified width at the
/// 'desktop' breakpoint, but other breakpoints can be specified using the `$at`
/// parameter.
///
/// @param {String} $width [full] name of a grid width from $ndrsuk-grid-widths
/// @param {String} $float [left] left | right
/// @param {String} $at [desktop] - mobile | tablet | desktop | any custom breakpoint
/// @param {String} $class [ndrsuk-grid-column] CSS class name (deprecated)
///
/// @example scss - Default
///   .ndrsuk-grid-column-two-thirds {
///     @include ndrsuk-grid-column(two-thirds, $class: false)
///   }
///
/// @example scss - Customising the breakpoint where width percentage is applied
///   .ndrsuk-grid-column-one-half-at-tablet {
///     @include ndrsuk-grid-column(one-half, $at: tablet);
///   }
///
/// @example scss - Customising the float direction
///   .ndrsuk-grid-column-one-half-right {
///     @include ndrsuk-grid-column(two-thirds, $float: right, $class: false);
///   }
///
/// @example scss - Customising the class name (deprecated)
///   @include ndrsuk-grid-column(one-half, $class: "test-column");
///
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)

@mixin ndrsuk-grid-column($width: full, $float: left, $at: desktop, $class: "ndrsuk-grid-column") {
  @if $class {
    .#{$class}-#{$width} {
      @include ndrsuk-grid-column($width, $float, $at, $class: false);
    }
  } @else {
    box-sizing: border-box;
    @if $at != tablet {
      width: 100%;
    }
    padding: 0 $ndrsuk-gutter-half;
    @include ndrsuk-media-query($from: $at) {
      width: ndrsuk-grid-width($width);
      float: $float;
    }
  }
}

/// Generate grid column styles (deprecated)
///
/// @alias ndrsuk-grid-column
/// @deprecated To be removed in v10.0, replaced by ndrsuk-grid-column

@mixin govuk-grid-column($args...) {
  @include ndrsuk-warning("govuk-grid-column", "govuk-grid-column is deprecated. Use ndrsuk-grid-column instead.");
  @include ndrsuk-grid-column($args...);
}
