/* 
  This CSS file is built from Tailwind utilities and includes below styles from the Rails data platform app:
  - 'application.tailwind.css'
  - 'app/assets/stylesheets/highlightjs'

  If modifications are needed, update the source files and rebuild the CSS.
*/
@import 'hdi.tailwind';
