/* 
  This CSS file is built from Tailwind utilities and includes below styles from the Rails data platform app:
  - 'application.tailwind.css'
  - 'app/assets/stylesheets/highlightjs'

  If modifications are needed, update the source files and rebuild the CSS.
*/
@use '../../../../public/design_system/static/hdi-frontend-0.10.0/hdi';

.hljs {
  display: block;
}

/* code container styling */
@media (prefers-color-scheme: dark) {
  .code-container {
    background: #0d1117;
  }

  .hljs {
    background: none !important;
    color: #c9d1d9;
  }
}

@media (prefers-color-scheme: light) {
  .code-container {
    background: #fff;
  }

  .hljs {
    background: none !important;
    color: #24292e;
  }
}

.code-container {
  @apply block border border-slate-300 dark:border-slate-600 rounded-md my-2;
}

.code-heading {
  @apply  border-b border-b-slate-300 dark:border-slate-600 bg-slate-100 dark:bg-slate-800 dark:text-white rounded-t-md px-4 py-1;
}

pre code {
  @apply block text-sm p-4;
}

.clipboard-button {
  @apply rounded-md border border-indigo-600 bg-indigo-600 text-xs text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer inline-flex items-center gap-2 py-1 px-2;
}

/* Main styles */
body, .bodylike {
  /* @apply bg-yellow-100 dark:bg-black text-red-600 */
  @apply bg-white dark:bg-black text-gray-900 dark:text-gray-200
}

h1,h2,h3,h4,h5,h6 {
  @apply text-gray-900 dark:text-gray-200
  /* @apply text-red-700 */
}

[multiple], [type="date"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], [type="checkbox"], select, textarea {
  @apply dark:bg-gray-900
}

.hdi-sidebar-bg-100 {
  @apply border-gray-200 bg-gray-100 dark:border-gray-700 dark:bg-gray-900
  /* @apply border-yellow-300 bg-yellow-200 */
}

.hdi-sidebar-bg-50 {
  @apply border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-950
  /* @apply border-yellow-300 bg-yellow-50 */
}

.hdi-text-500 {
  @apply text-gray-500 dark:text-gray-400
  /* @apply text-red-300 */
}

.hdi-text-700 {
  @apply text-gray-700 dark:text-gray-300
  /* @apply text-red-400 */
}

.hdi-border-b-gray-200 {
  @apply border-b-gray-200 dark:border-b-gray-700
  /* @apply border-b-green-500 */
}

.hdi-bg-gray-100 {
  @apply bg-gray-100 dark:bg-gray-800
  /* @apply bg-green-700 */
}
