/* 
  This CSS file is generated for the HDI Rails Data Platform.
  It is built from Tailwind utilities and includes below styles from the host app:
  - 'application.tailwind.css'
  - 'app/assets/stylesheets/highlightjs'

  If modifications are needed, update the source files and rebuild the CSS.
*/
@import 'hdi.tailwind';
