// Using the NHSUK frontend.
@use 'nhsuk-frontend-10.3.1/core';
@use 'nhsuk-frontend-10.3.1/components';

// Use extreme caution when making any design system level style changes or additions here.
@use 'hljs';

.app-example-code {
  // a gray background with no border
  background-color: #f6f6f6;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}

.app-copy-button {
  @extend .nhsuk-button;
  @extend .nhsuk-button--reverse;
  font-size: 0.875rem;
  line-height: 1.25;
}
