// ==========================================================================
// SETTINGS / #GLOBALS
// ==========================================================================

//
// Fonts
//
// 1. Fallback fonts if Frutiger fails to load
//

$ndrsuk-font: Frutiger W01 !default;
$ndrsuk-font-fallback: Arial, Sans-serif !default; // [1] //
$ndrsuk-font-family-print: sans-serif !default;
$ndrsuk-font-bold: 600 !default;
$ndrsuk-font-normal: 400 !default;
$ndrsuk-font-light: $ndrsuk-font-normal !default;
$ndrsuk-fonts-path: "https://assets.nhs.uk/fonts/" !default;
$ndrsuk-include-font-face: true !default;

//
// Font sizing and spacing
//

$ndrsuk-base-font-size: 16px !default;
$ndrsuk-base-line-height: 24px !default;

//
// Icon default sizing
//

$ndrsuk-icon-size: 34px !default;

//
// Grid spacing
//

$ndrsuk-page-width: 960px !default;
$ndrsuk-gutter: 32px;
$ndrsuk-gutter-half: $ndrsuk-gutter * 0.5;

//
// Border sizes
//

$ndrsuk-border-width-inset-text: 8px !default;
$ndrsuk-care-card-triangle-border: 16px !default;
$ndrsuk-hero-content-triangle-border: 16px !default;
$ndrsuk-hero-border: 1px !default;
$ndrsuk-border-table-header-width: 2px !default;
$ndrsuk-border-table-cell-width: 1px !default;

//
// Border radius
//

$ndrsuk-border-radius: 4px !default;

//
// Box shadow
//

$ndrsuk-box-shadow-spread: 4px !default;
$ndrsuk-box-shadow-blur: 4px !default;
$ndrsuk-box-shadow-link: 4px !default;
$ndrsuk-box-details: 8px !default;
$ndrsuk-box-expander: 4px !default;
$ndrsuk-box-shadow-pagination: 16px !default;
$ndrsuk-box-shadow-link: 4px !default;

//
// Header spacing
//

$ndrsuk-header-spacing: 20px;

//
// Form elements
//

$ndrsuk-border-width-form-element: 2px !default;
$ndrsuk-border-width-form-element-error: 2px !default;
$ndrsuk-focus-width: 4px !default;
$ndrsuk-border-width: 4px !default;
$ndrsuk-border-width-mobile: 4px !default;
$ndrsuk-border-width-form-group-error: $ndrsuk-border-width !default;
