@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Footer component
///
/// @group components
////

.ndrsuk-tag {
  background-color: ndrsuk-shade($color_ndrsuk-blue, 10%);
  border: 1px solid ndrsuk-shade($color_ndrsuk-blue, 10%);
  color: $color_ndrsuk-white;
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding-bottom: ndrsuk-spacing(1);
  padding-left: ndrsuk-spacing(2);
  padding-right: ndrsuk-spacing(2);
  padding-top: ndrsuk-spacing(1);
  text-decoration: none;

  @include ndrsuk-font($size: 16, $weight: bold, $line-height: 1);
}

/// Colour variants

.ndrsuk-tag--white {
  background-color: $color_ndrsuk-white;
  border-color: $color_ndrsuk-black;
  color: $color_ndrsuk-black;
}

.ndrsuk-tag--grey {
  background-color: ndrsuk-tint($color_ndrsuk-grey-1, 80%);
  border-color: ndrsuk-shade($color_ndrsuk-grey-1, 30%);
  color: ndrsuk-shade($color_ndrsuk-grey-1, 30%);
}

.ndrsuk-tag--green {
  background-color: ndrsuk-tint($color_ndrsuk-green, 80%);
  border-color: ndrsuk-shade($color_ndrsuk-green, 40%);
  color: ndrsuk-shade($color_ndrsuk-green, 40%);
}

.ndrsuk-tag--aqua-green {
  background-color: ndrsuk-tint($color_ndrsuk-aqua-green, 80%);
  border-color: ndrsuk-shade($color_ndrsuk-aqua-green, 50%);
  color: ndrsuk-shade($color_ndrsuk-aqua-green, 50%);
}

.ndrsuk-tag--blue {
  background-color: ndrsuk-tint($color_ndrsuk-blue, 80%);
  border-color: ndrsuk-shade($color_ndrsuk-blue, 30%);
  color: ndrsuk-shade($color_ndrsuk-blue, 30%);
}

.ndrsuk-tag--purple {
  background-color: ndrsuk-tint($color_ndrsuk-purple, 80%);
  border-color: ndrsuk-shade($color_ndrsuk-purple, 30%);
  color: ndrsuk-shade($color_ndrsuk-purple, 30%);
}

.ndrsuk-tag--pink {
  background-color: ndrsuk-tint($color_ndrsuk-pink, 80%);
  border-color: ndrsuk-shade($color_ndrsuk-pink, 50%);
  color: ndrsuk-shade($color_ndrsuk-pink, 50%);
}

.ndrsuk-tag--red {
  background-color: ndrsuk-tint($color_ndrsuk-red, 80%);
  border-color: ndrsuk-shade($color_ndrsuk-red, 50%);
  color: ndrsuk-shade($color_ndrsuk-red, 50%);
}

.ndrsuk-tag--orange {
  background-color: ndrsuk-tint($color_ndrsuk-warm-yellow, 50%);
  border-color: ndrsuk-shade($color_ndrsuk-warm-yellow, 70%);
  color: ndrsuk-shade($color_ndrsuk-warm-yellow, 70%);
}

.ndrsuk-tag--yellow {
  background-color: ndrsuk-tint($color_ndrsuk-yellow, 50%);
  border-color: ndrsuk-shade($color_ndrsuk-yellow, 70%);
  color: ndrsuk-shade($color_ndrsuk-yellow, 70%);
}

/// Remove tag border

.ndrsuk-tag--no-border {
  border: 0;
}
