@use "../settings" as *;

////
/// Icons
///
/// @group styles
////

/// Default icon size

.ndrsuk-icon {
  height: $ndrsuk-icon-size;
  width: $ndrsuk-icon-size;
}

/// Default icon colours

.ndrsuk-icon__search {
  fill: $color_ndrsuk-blue;
}

.ndrsuk-icon__chevron-left {
  fill: $color_ndrsuk-blue;
}

.ndrsuk-icon__chevron-right {
  fill: $color_ndrsuk-blue;
}

.ndrsuk-icon__close {
  fill: $color_ndrsuk-blue;
}

.ndrsuk-icon__cross {
  fill: $color_ndrsuk-red;
}

.ndrsuk-icon__tick {
  stroke: $color_ndrsuk-green;
}

.ndrsuk-icon__arrow-right {
  fill: $color_ndrsuk-blue;
}

.ndrsuk-icon__arrow-left {
  fill: $color_ndrsuk-blue;
}

.ndrsuk-icon__arrow-right-circle {
  fill: $color_ndrsuk-green;
}

.ndrsuk-icon__chevron-down {
  fill: currentcolor;
  height: 24px;
  position: absolute;
  right: 4px;
  transform: rotate(90deg);
  width: 24px;
}

.ndrsuk-icon__chevron-up {
  fill: $color_ndrsuk-blue;

  path {
    fill: $color_ndrsuk-white;
  }
}

.ndrsuk-icon__emdash {
  path {
    fill: $color_ndrsuk-grey-3;
  }
}

.ndrsuk-icon__plus {
  fill: $color_ndrsuk-blue;
}

.ndrsuk-icon__minus {
  fill: $color_ndrsuk-blue;
}

/// Icon size adjustments

.ndrsuk-icon--size-25 {
  height: $ndrsuk-icon-size * 1.25;
  width: $ndrsuk-icon-size * 1.25;
}

.ndrsuk-icon--size-50 {
  height: $ndrsuk-icon-size * 1.5;
  width: $ndrsuk-icon-size * 1.5;
}

.ndrsuk-icon--size-75 {
  height: $ndrsuk-icon-size * 1.75;
  width: $ndrsuk-icon-size * 1.75;
}

.ndrsuk-icon--size-100 {
  height: $ndrsuk-icon-size * 2;
  width: $ndrsuk-icon-size * 2;
}
