@use "../tools" as *;

////
/// Lists
///
/// The % (silent class) allows code to be extended (@extend) to other elements
/// without bloating the code.
///
/// 1. 'Random number' used to align ul and ol left with content.
/// 2. 'Random number' used to give sufficient spacing between text and icon.
/// 3. 'Random number' used to align icon and text.
///
/// @group styles
///
/// @example scss
///   .foo {
///     @extend %ndrsuk-list--bullet;
///   }
////

%ndrsuk-list {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;

  @include ndrsuk-font-size(19);
  @include ndrsuk-responsive-margin(4, "bottom");

  // Add a top margin and remove bottom margin for nested lists
  %ndrsuk-list {
    margin-bottom: 0;
    @include ndrsuk-responsive-margin(2, "top");
  }
}

%ndrsuk-list > li {
  @include ndrsuk-responsive-margin(2, "bottom");

  &:last-child {
    margin-bottom: 0;
  }
}

%ndrsuk-list--bullet {
  list-style-type: disc;
  padding-left: 20px; // [1]
}

.ndrsuk-list--bullet {
  @extend %ndrsuk-list--bullet;
}

%ndrsuk-list--number {
  list-style-type: decimal;
  padding-left: 20px; // [1]
}

%ndrsuk-list + h2,
%ndrsuk-list + .ndrsuk-heading-l {
  @include ndrsuk-responsive-padding(4, "top");
}

%ndrsuk-list + h3,
%ndrsuk-list + h4,
%ndrsuk-list + .ndrsuk-heading-m,
%ndrsuk-list + .ndrsuk-heading-s {
  padding-top: ndrsuk-spacing(1);

  @include ndrsuk-media-query($from: tablet) {
    padding-top: ndrsuk-spacing(2);
  }
}

@include ndrsuk-media-query($media-type: print) {
  %ndrsuk-list + h2,
  %ndrsuk-list + h3,
  %ndrsuk-list + h4,
  %ndrsuk-list + .ndrsuk-heading-l,
  %ndrsuk-list + .ndrsuk-heading-m,
  %ndrsuk-list + .ndrsuk-heading-s {
    padding-top: 0.45em;
  }
}

.ndrsuk-list--number {
  @extend %ndrsuk-list--number;
}

.ndrsuk-list {
  @extend %ndrsuk-list;
}

ul {
  @extend %ndrsuk-list;
  @extend %ndrsuk-list--bullet;
}

ol {
  @extend %ndrsuk-list;
  @extend %ndrsuk-list--number;
}

.ndrsuk-list--tick,
.ndrsuk-list--cross {
  list-style: none;
  margin-top: 0;
  padding-left: 40px; // [2]
  position: relative;

  svg {
    left: -4px; // [3]
    margin-top: -5px; // [3]
    position: absolute;
  }
}
