@use "../settings" as *;
@use "../tools" as *;

////
/// Typography
///
/// @group styles
////

///
/// Headings
///
/// The % (silent class) allows code to be extended (@extend) to other elements
/// without bloating the code.
///
/// @example scss
///   .foo {
///     @extend %ndrsuk-heading-xl;
///   }
////

%ndrsuk-heading-xl {
  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-font-size(48);
  @include ndrsuk-responsive-margin(7, "bottom");
}

h1,
.ndrsuk-heading-xl {
  @extend %ndrsuk-heading-xl;
}

%ndrsuk-heading-l {
  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-font-size(36);
  @include ndrsuk-responsive-margin(4, "bottom");
}

h2,
.ndrsuk-heading-l {
  @extend %ndrsuk-heading-l;
}

%ndrsuk-heading-m {
  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-font-size(26);
  @include ndrsuk-responsive-margin(4, "bottom");
}

h3,
.ndrsuk-heading-m {
  @extend %ndrsuk-heading-m;
}

%ndrsuk-heading-s {
  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-font-size(22);
  @include ndrsuk-responsive-margin(4, "bottom");
}

h4,
.ndrsuk-heading-s {
  @extend %ndrsuk-heading-s;
}

%ndrsuk-heading-xs {
  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-font-size(19);
  @include ndrsuk-responsive-margin(4, "bottom");
}

h5,
.ndrsuk-heading-xs {
  @extend %ndrsuk-heading-xs;
}

%ndrsuk-heading-xxs {
  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-font-size(19);
  @include ndrsuk-responsive-margin(4, "bottom");
}

h6,
.ndrsuk-heading-xxs {
  @extend %ndrsuk-heading-xxs;
}

/// Captions to be used inside headings

.ndrsuk-caption-xl {
  color: $ndrsuk-secondary-text-color;
  display: block;
  margin-bottom: ndrsuk-spacing(1);

  @include ndrsuk-font(26);
}

.ndrsuk-caption-l {
  color: $ndrsuk-secondary-text-color;
  display: block;
  margin-bottom: ndrsuk-spacing(1);

  @include ndrsuk-font(22);
}

.ndrsuk-caption-m {
  color: $ndrsuk-secondary-text-color;
  display: block;

  @include ndrsuk-font(19);
}

.ndrsuk-caption--bottom {
  margin-bottom: ndrsuk-spacing(0);
  margin-top: ndrsuk-spacing(1);
}

/// Body (paragraphs)

%ndrsuk-body-l {
  display: block;
  margin-top: 0;

  @include ndrsuk-font-size(26);
  @include ndrsuk-responsive-margin(5, "bottom");
}

.ndrsuk-body-l {
  @extend %ndrsuk-body-l;
}

%ndrsuk-body-m {
  display: block;
  margin-top: 0;

  @include ndrsuk-font-size(19);
  @include ndrsuk-responsive-margin(4, "bottom");
}

p,
.ndrsuk-body-m {
  @extend %ndrsuk-body-m;
  color: inherit;
}

%ndrsuk-body-s {
  display: block;
  margin-top: 0;

  @include ndrsuk-font-size(16);
  @include ndrsuk-responsive-margin(4, "bottom");
}

.ndrsuk-body-s {
  @extend %ndrsuk-body-s;
}

address {
  @extend %ndrsuk-body-m;

  font-style: normal;
}

/// Lede text
///
/// 1. Apply lede text styling to p and ul within the lede element
/// 2. Reduces the spacing between the page heading and the lede text

.ndrsuk-lede-text {
  @include ndrsuk-font(26);
  @include ndrsuk-responsive-margin(7, "bottom");

  // [1]
  p,
  ul {
    @include ndrsuk-font(26);
  }
}

.ndrsuk-lede-text--small {
  @include ndrsuk-font(19);
  @include ndrsuk-responsive-margin(5, "bottom");
}

// [2]
h1 + .ndrsuk-lede-text,
h1 + .ndrsuk-lede-text--small {
  margin-top: -(ndrsuk-spacing(2));
}

/// Contextual adjustments
///
/// Add top padding to headings that appear directly after paragraphs.
///
/// 1. Removes the padding-top because of the lede-text's increased margin-bottom
///
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)

%ndrsuk-body-l + %ndrsuk-heading-l {
  padding-top: ndrsuk-spacing(1);

  @include ndrsuk-media-query($from: tablet) {
    padding-top: ndrsuk-spacing(2);
  }
}

%ndrsuk-body-m + %ndrsuk-heading-l,
%ndrsuk-body-s + %ndrsuk-heading-l {
  @include ndrsuk-responsive-padding(4, "top");
}

%ndrsuk-body-m + %ndrsuk-heading-m,
%ndrsuk-body-s + %ndrsuk-heading-m,
%ndrsuk-body-m + %ndrsuk-heading-s,
%ndrsuk-body-s + %ndrsuk-heading-s {
  padding-top: ndrsuk-spacing(1);

  @include ndrsuk-media-query($from: tablet) {
    padding-top: ndrsuk-spacing(2);
  }
}

// [1]
.ndrsuk-lede-text + %ndrsuk-heading-l {
  padding-top: 0;
}

/// Font weight for <strong> and <b>

strong,
b {
  font-weight: $ndrsuk-font-bold;
}

@include ndrsuk-media-query($media-type: print) {
  .ndrsuk-main-wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  h1,
  .ndrsuk-heading-xl,
  h2,
  .ndrsuk-heading-l,
  h3,
  .ndrsuk-heading-m,
  h4,
  .ndrsuk-heading-s,
  h5,
  .ndrsuk-heading-xs,
  h6,
  .ndrsuk-heading-xxs,
  .ndrsuk-lede-text,
  .ndrsuk-body-l,
  p,
  .ndrsuk-body-m,
  .ndrsuk-body-s,
  address,
  ol,
  ul,
  .ndrsuk-list {
    margin-bottom: 7.5pt;
  }

  h1 {
    // stylelint-disable-next-line declaration-no-important
    margin-bottom: 15pt !important;
  }

  %ndrsuk-body-l + %ndrsuk-heading-l,
  %ndrsuk-body-m + %ndrsuk-heading-l,
  %ndrsuk-body-s + %ndrsuk-heading-l,
  %ndrsuk-body-m + %ndrsuk-heading-m,
  %ndrsuk-body-s + %ndrsuk-heading-m,
  %ndrsuk-body-m + %ndrsuk-heading-s,
  %ndrsuk-body-s + %ndrsuk-heading-s {
    padding-top: 0.45em;
  }
}
