/* ==========================================================================
   COMPONENTS/ #LABEL
   ========================================================================== */

.ndrsuk-label {
  @include ndrsuk-font(19);

  display: block;
  margin-bottom: ndrsuk-spacing(1);
}

/* Modifiers that make labels look more like their equivalent headings */

.ndrsuk-label--xl {
  @include ndrsuk-typography-responsive(48);

  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-responsive-margin(7, "bottom");
}

.ndrsuk-label--l {
  @include ndrsuk-typography-responsive(32);

  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-responsive-margin(4, "bottom");
}

.ndrsuk-label--m {
  @include ndrsuk-typography-responsive(24);

  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-responsive-margin(4, "bottom");
}

.ndrsuk-label--s {
  @include ndrsuk-typography-responsive(19);

  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-responsive-margin(4, "bottom");
}

// When the label is nested inside a heading, override the heading so that it
// does not have a margin. Effectively we want to be able to treat the heading
// as if it is not there.
//
// This breaks BEM conventions because it exists as a parent of the 'block',
// so we can't really consider an element.
.ndrsuk-label-wrapper {
  margin: 0;
}
