@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Fieldset component
///
/// 1. Fix legend text wrapping in Edge and IE versions:
/// 2. IE9-11 & Edge 12-13
/// 3. Hack to let legends or elements within legends have margins in webkit browsers.
/// 4. When the legend contains an H1, we want the H1 to inherit all styles from
///    the legend. Effectively we want to be able to treat the heading as if it is
///    not there.
///
/// @group components
////

.ndrsuk-fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  @include ndrsuk-clearfix;
}

.ndrsuk-fieldset__legend {
  box-sizing: border-box; // [1]
  color: $color_ndrsuk-black;
  display: table; // [2]
  margin-bottom: ndrsuk-spacing(2);
  margin-top: 0;
  max-width: 100%; // [1]
  padding: 0;
  white-space: normal; // [3]

  @include ndrsuk-font(19);
}

/// Heading modifiers

.ndrsuk-fieldset__legend--xl {
  margin-bottom: ndrsuk-spacing(3);
  @include ndrsuk-font($size: 48, $weight: bold);
}

.ndrsuk-fieldset__legend--l {
  margin-bottom: ndrsuk-spacing(3);
  @include ndrsuk-font($size: 36, $weight: bold);
}

.ndrsuk-fieldset__legend--m {
  margin-bottom: ndrsuk-spacing(3);
  @include ndrsuk-font($size: 26, $weight: bold);
}

.ndrsuk-fieldset__legend--s {
  margin-bottom: ndrsuk-spacing(3);
  @include ndrsuk-font($size: 19, $weight: bold);
}

.ndrsuk-fieldset__heading {
  // [5]
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
