/**
    * These are the styles for the organisation header variants.
*/

.ndrsuk-header--organisation {
  .ndrsuk-header__link {
    height: auto;
    text-decoration: none;
    width: auto;

    &:hover {
      color: $color_ndrsuk-white;
      text-decoration: underline;

      .ndrsuk-logo {
        box-shadow: none;
      }
    }

    &:focus {
      background: $ndrsuk-focus-color;
      box-shadow:
        0 0 0 $ndrsuk-focus-width $ndrsuk-focus-color,
        0 $ndrsuk-focus-width 0 $ndrsuk-focus-width $ndrsuk-focus-text-color;

      .ndrsuk-organisation-name,
      .ndrsuk-organisation-descriptor {
        color: $ndrsuk-focus-text-color;
      }

      .ndrsuk-logo {
        box-shadow: none;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ndrsuk-header__logo .ndrsuk-logo {
    @include ndrsuk-logo-size-small;

    @media (max-width: 450px) {
      height: ndrsuk-spacing(4);
      width: 60px;
    }

    @media (max-width: 375px) {
      height: 20px;
      width: 50px;
    }
  }

  .ndrsuk-header__navigation {
    max-width: 100%;
  }
}

.ndrsuk-organisation-name {
  color: $color_ndrsuk-white;
  display: block;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 23px;
  margin-top: -2px;

  @include mq($media-type: print) {
    color: $ndrsuk-print-text-color;
  }

  @media (max-width: 450px) {
    font-size: 17px;
    letter-spacing: 0.1px;
    line-height: 17px;
  }

  @media (max-width: 375px) {
    font-size: 13px;
    line-height: 13px;
  }

  .ndrsuk-organisation-name-split {
    display: block;
  }
}

.ndrsuk-organisation-descriptor {
  color: $color_ndrsuk-white;
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 21px;

  @include mq($media-type: print) {
    color: $color_ndrsuk-blue;
  }

  @media (max-width: 450px) {
    font-size: 12px;
    line-height: 18px;
  }

  @media (max-width: 375px) {
    font-size: 10px;
    line-height: 13px;
  }
}

.ndrsuk-organisation-logo {
  border: 0;
  max-height: 100px;
  max-width: 280px;

  @media (max-width: 450px) {
    max-width: 150px;
  }
}

.ndrsuk-organisation-logo[src$=".svg"] {
  height: auto;
  max-width: 220px;
  width: 100%;
}
