@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Hero component shared styles
///
/// 1. Position relative to support the description
///    appearing over the image.
/// 2. Adds a border between the header and hero, if required
///
/// @group components
///

.ndrsuk-hero {
  background-color: $color_ndrsuk-blue;
  color: $color_ndrsuk-white;
  position: relative; // [1]

  @include ndrsuk-print-color($ndrsuk-print-text-color);

  .ndrsuk-link,
  a:not(.ndrsuk-button) {
    @include ndrsuk-link-style-white;
  }

  .ndrsuk-hero--border {
    // [2]
    border-top: $ndrsuk-hero-border solid $ndrsuk-secondary-border-color;
  }
}

.ndrsuk-hero__wrapper {
  @include ndrsuk-responsive-padding(8, top);
  @include ndrsuk-responsive-padding(8, bottom);
}

.ndrsuk-hero__heading {
  @include ndrsuk-responsive-margin(3, bottom);
}

///  Hero component image styles
///
/// 3. Center the background image.
/// 4. Stop the height affecting print stylesheets.
/// 5. Show more of the image for larger screen sizes
/// 6. Overlay must be min same height as .ndrsuk-hero--image to cover the image.
/// 7. Darken the background image with an overlay.
/// 12. Remove any heights/min heights in Windows high contrast mode.

.ndrsuk-hero--image {
  background-position: center right; // [3]
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen {
    // [4]
    min-height: 200px;
  }

  @include ndrsuk-media-query($from: tablet) {
    @media only screen {
      // [4]
      min-height: 320px; // [5]

      .ndrsuk-hero__overlay {
        height: 320px; // [6]
      }
    }
  }

  @media screen and (-ms-high-contrast: active) {
    min-height: 0; // [12]
  }

  .ndrsuk-hero__overlay {
    background-color: $color_transparent_ndrsuk-blue-50; // [7]

    @media only screen {
      // [4]
      min-height: 200px; // [6]
    }

    @media screen and (-ms-high-contrast: active) {
      height: auto; // [12]
      min-height: 0; // [12]
    }
  }
}

///  Hero component description styles.
///
/// 8. 'Random number' for the triangle.
/// 9. 'Random number' for the triangle positioning.
/// 10. Needed to enable the triangle to show correctly in high contrast mode.
/// 11. Give the description box a max width.
/// 13. Remove the arrow in Windows high contrast mode.
/// 14. Reduce spacing and change positioning for Windows high contrast mode.
/// 15. Prevent text breaking out of box on smaller sizes
/// 16. Prevent overlap using safe area: box offset + arrow height + spacing

.ndrsuk-hero--image-description {
  margin-bottom: calc(70px + 20px + ndrsuk-spacing(3)); // [16]

  @include ndrsuk-media-query($from: tablet) {
    margin-bottom: calc(48px + 20px + ndrsuk-spacing(4)); // [16]
  }

  .ndrsuk-hero-content {
    background-color: $color_ndrsuk-blue;
    color: $color_ndrsuk-white;
    margin-bottom: 24px;
    padding: ndrsuk-spacing(4);
    position: relative;
    top: 70px;

    .ndrsuk-hero__arrow {
      bottom: -10px; // [8]
      display: block;
      height: 20px; // [8]
      left: 32px; // [9]
      overflow: hidden;
      position: absolute;
      transform: rotate(45deg);
      width: 20px; // [8]
      @include ndrsuk-print-hide;
    }

    .ndrsuk-hero__arrow::before,
    .ndrsuk-hero__arrow::after {
      border: solid 32px $color_ndrsuk-blue; // [8]
      content: "";
      display: block;
      height: 0;
      position: absolute;
      top: 0;
      transform: rotate(45deg); // [10]
      width: 0;
    }
  }

  @include ndrsuk-media-query(375px) {
    .ndrsuk-hero-content {
      width: 85%; // [15]
    }
  }

  @include ndrsuk-media-query($from: tablet) {
    .ndrsuk-hero-content {
      bottom: -48px; // [8]
      margin-bottom: 0;
      max-width: 35em; // [11]
      padding: ndrsuk-spacing(5) ndrsuk-spacing(6);
      position: absolute;
      top: auto;

      @include ndrsuk-top-and-bottom;
    }

    .ndrsuk-hero__arrow {
      left: 46px; // [9]
    }
  }

  @include ndrsuk-media-query($media-type: print) {
    .ndrsuk-hero-content {
      color: $color_ndrsuk-black;
      max-width: 100%;
      padding: 0;
    }
  }

  @media screen and (-ms-high-contrast: active) {
    .ndrsuk-hero-content {
      // [14]
      bottom: 0;
      margin-bottom: 0;
      min-height: 0;
      padding: ndrsuk-spacing(5) 0 0;
      position: relative;
      top: 0;
    }

    .ndrsuk-hero__arrow {
      display: none; // [13]
    }
  }
}
