/* ==========================================================================
   UTILITIES / #DISPLAY
   ========================================================================== */

/* stylelint-disable declaration-no-important */

.ndrsuk-u-display-block {
  display: block !important;
}

.ndrsuk-u-display-inline-block {
  display: inline-block !important;
}
