/* ==========================================================================
   UTILITIES / #GRID
   ========================================================================== */

@use "sass:math";

/**
 * Force grid widths on all screen sizes
 * By default all grid elements will go to 100% width
 * on screen sizes below tablet, these utilities can force
 * custom widths on all screen sizes
 *
 * Usage: class="ndrsuk-u-one-half"
 */

// Utility classes are allowed to use !important;
// so we disable stylelint for that rule
/* stylelint-disable declaration-no-important */

.ndrsuk-u-one-half {
  float: left;
  width: percentage(1 * 0.5) !important;
}

.ndrsuk-u-one-third {
  float: left;
  width: percentage(math.div(1, 3)) !important;
}

.ndrsuk-u-two-thirds {
  float: left;
  width: percentage(math.div(2, 3)) !important;
}

.ndrsuk-u-one-quarter {
  float: left;
  width: percentage(1 * 0.25) !important;
}

.ndrsuk-u-three-quarters {
  float: left;
  width: percentage(3 * 0.25) !important;
}

/**
 * Force grid widths on screen sizes on tablet
 * and above
 *
 * By default all grid elements will go to 100% width
 * on every screen size, these utilities can force
 * custom widths on screen sizes on tablet
 * and above
 *
 * Usage: class="ndrsuk-u-one-half-tablet"
 */

.ndrsuk-u-one-half-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(1 * 0.5) !important;
  }
}

.ndrsuk-u-one-third-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(math.div(1, 3)) !important;
  }
}

.ndrsuk-u-two-thirds-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(math.div(2, 3)) !important;
  }
}

.ndrsuk-u-one-quarter-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(1 * 0.25) !important;
  }
}

.ndrsuk-u-three-quarters-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(3 * 0.25) !important;
  }
}
