<%= ds_heading 'Details', level: 1 %>

<%= ds_details('How to find your NHS number') do %>
  <p>
    You can find your NHS number by logging in to the NHS App or on any document the NHS has sent you, such as your:
  </p>
  <ul>
    <li>hospital referral letters</li>
    <li>appointment letters</li>
  </ul>
  <p>Ask your GP surgery for help if you cannot find your NHS number.</p>
<% end %>
