////
/// Breakpoint definitions
///
/// @group settings
////

$ndrsuk-breakpoints: (
  mobile: 320px,
  tablet: 641px,
  desktop: 769px,
  large-desktop: 990px
) !default;

/// Show active breakpoint in top-right corner.
///
/// Only use this during local development.

$ndrsuk-show-breakpoints: false !default;
