@use "../../core/settings" as *;
@use "../../core/tools" as *;

/// These are the styles for the white header variants.

.ndrsuk-header--white {
  background-color: $color_ndrsuk-white;

  .ndrsuk-header__search-wrap {
    margin-bottom: ndrsuk-spacing(3);

    @include ndrsuk-media-query($until: tablet) {
      &::after {
        background: $color_ndrsuk-white;
      }
    }
  }

  .ndrsuk-navigation-container {
    background-color: $color_ndrsuk-blue;
  }

  .ndrsuk-navigation {
    border-top-width: 0;
  }

  .ndrsuk-logo {
    .ndrsuk-logo__background {
      fill: $color_ndrsuk-blue;
    }

    .ndrsuk-logo__text {
      fill: $color_ndrsuk-white;
    }
  }

  .ndrsuk-header__link {
    &:hover {
      color: $ndrsuk-text-color;
      text-decoration: underline;

      .ndrsuk-organisation-descriptor {
        color: $ndrsuk-text-color;
      }
    }
  }

  .ndrsuk-search__submit {
    background-color: $color_ndrsuk-blue;

    .ndrsuk-icon__search {
      fill: $color_ndrsuk-white;
    }

    &:hover,
    &:active {
      background-color: $color_shade_ndrsuk-blue-20;
      border-color: $color_shade_ndrsuk-blue-20;
      box-shadow: none;
    }

    &:active {
      background-color: $color_shade_ndrsuk-blue-50;
    }

    &:focus:not(:active) {
      @include ndrsuk-focused-button;
    }
  }

  .ndrsuk-search__input:not(:focus) {
    border: 1px solid $color_ndrsuk-grey-3;
  }

  .ndrsuk-header__search-form {
    @include ndrsuk-media-query($until: tablet) {
      padding-top: 0;
    }
  }

  .ndrsuk-organisation-name {
    color: ndrsuk-shade($color_ndrsuk-black, 100%);
  }

  .ndrsuk-organisation-descriptor {
    color: $color_ndrsuk-blue;
  }

  .ndrsuk-header__transactional-service-name--link {
    color: $color_ndrsuk-black;
  }

  .ndrsuk-header__service-name {
    color: $ndrsuk-text-color;
  }
}

.ndrsuk-header--white-nav {
  .ndrsuk-navigation-container {
    background-color: $color_ndrsuk-white;
  }

  .ndrsuk-navigation {
    background-color: $color_ndrsuk-white;
    border-top: 1px solid $color_ndrsuk-grey-5;

    .ndrsuk-header__navigation-link {
      @include ndrsuk-link-style-default;
      @include ndrsuk-link-style-no-visited-state;

      &:active,
      &:focus {
        color: $ndrsuk-focus-text-color;
      }
    }
  }
}
