@use "../../core/tools" as *;

/// These are the styles for the transactional header variants.

.ndrsuk-header__transactional-service-name {
  margin-bottom: -(ndrsuk-spacing(1));
  padding-left: ndrsuk-spacing(3);
  padding-top: 2px;

  @include ndrsuk-media-query($until: tablet) {
    padding-left: 0;
    padding-top: ndrsuk-spacing(2);
    width: 100%;
  }
}

.ndrsuk-header__transactional-service-name--link {
  @include ndrsuk-link-style-white;
  @include ndrsuk-font(19);

  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.ndrsuk-header__transactional {
  .ndrsuk-header__container {
    justify-content: normal;
  }

  .ndrsuk-header__link {
    display: block;
    @include ndrsuk-logo-size-small;
  }

  .ndrsuk-logo {
    @include ndrsuk-logo-size-small;
  }
}

.ndrsuk-header__transactional--logo {
  max-width: 100%;

  @include ndrsuk-media-query($from: tablet) {
    .ndrsuk-header__link--service {
      align-items: center;
      display: flex;
      -ms-flex-align: center;
      margin-bottom: 0;
      width: auto;
    }

    .ndrsuk-header__service-name {
      padding-left: ndrsuk-spacing(3);
    }
  }
}
