@use "sass:math";
@use "../../core/objects" as *;
@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Header component
///
/// The behaviour with regards to responsiveness is as follow:
///
/// - Mobile to tablet view
///   Menu toggle button visible and navigation links hidden, search toggle
///   button visible and search form hidden
///
/// - Tablet to desktop view
///   Menu toggle button visible and navigation links hidden, search toggle
///   button hidden and search form visible
///
/// - Desktop+ view
///   Menu toggle button hidden and navigation links visible, search toggle
///   button hidden and search form visible
///
/// @group components
////

.ndrsuk-header {
  background-color: $color_ndrsuk-blue;
}

.ndrsuk-header__container {
  padding: 20px 0;
  @include ndrsuk-width-container;

  @include ndrsuk-media-query($from: tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.ndrsuk-header__logo {
  @include ndrsuk-media-query($until: tablet) {
    position: relative;
    z-index: 1;
  }

  .ndrsuk-logo__background {
    fill: $color_ndrsuk-white;

    @include ndrsuk-media-query($media-type: print) {
      fill: $color_ndrsuk-blue;
    }
  }

  .ndrsuk-logo__text {
    fill: $color_ndrsuk-blue;

    @include ndrsuk-media-query($media-type: print) {
      fill: $color_ndrsuk-white;
    }
  }

  @include ndrsuk-media-query($from: tablet) {
    padding-left: 0;
  }

  .ndrsuk-logo {
    @include ndrsuk-logo-size;
    border: 0;
  }

  @include ndrsuk-media-query($until: desktop) {
    max-width: 60%;
  }

  @media (max-width: 450px) {
    max-width: 50%;
  }
}

.ndrsuk-header__link {
  display: block;
  @include ndrsuk-logo-size;
  @include ndrsuk-link-style-white;

  &:hover {
    .ndrsuk-logo {
      box-shadow: 0 0 0 $ndrsuk-focus-width $color_shade_ndrsuk-blue-35;
    }
  }

  &:focus {
    box-shadow: none;

    .ndrsuk-logo {
      box-shadow:
        0 0 0 $ndrsuk-focus-width $ndrsuk-focus-color,
        0 $ndrsuk-focus-width 0 $ndrsuk-focus-width $ndrsuk-focus-text-color;
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }

  @include ndrsuk-media-query($media-type: print) {
    &::after {
      content: "";
    }
  }
}

.ndrsuk-header__logo--only {
  max-width: 100%;

  @include ndrsuk-media-query($from: tablet) {
    .ndrsuk-header__link--service {
      align-items: center;
      display: flex;
      -ms-flex-align: center;
      margin-bottom: 0;
      width: auto;
    }

    .ndrsuk-header__service-name {
      padding-left: ndrsuk-spacing(3);
    }
  }
}

.ndrsuk-header__content {
  position: relative;
  @include ndrsuk-print-hide;

  &.js-show {
    border-bottom: ndrsuk-spacing(1) solid $color_ndrsuk-grey-5;
  }

  @include ndrsuk-media-query($from: tablet) {
    &.js-show {
      border-bottom: 0;
    }
  }
}

.ndrsuk-header__search {
  position: relative;
  text-align: right;

  @include ndrsuk-media-query($from: tablet) {
    margin-left: ndrsuk-spacing(2);
  }
}

.ndrsuk-header__search-form {
  display: flex;
  height: 100%;
  overflow: visible;

  @include ndrsuk-media-query($until: tablet) {
    margin: ndrsuk-spacing(3) 0 0;
    position: relative;
    width: 100%;
  }
}

.ndrsuk-header__search-wrap {
  @include ndrsuk-media-query($from: tablet) {
    display: block;
  }
}

.ndrsuk-search__input {
  -webkit-appearance: listbox;
  border-bottom-left-radius: $ndrsuk-border-radius;
  border-bottom-right-radius: 0;
  border-top-left-radius: $ndrsuk-border-radius;
  border-top-right-radius: 0;
  padding: 0 16px;

  &:focus {
    border: ndrsuk-spacing(1) solid $ndrsuk-focus-text-color;
    box-shadow: 0 0 0 $ndrsuk-focus-width $ndrsuk-focus-color;
    outline: $ndrsuk-focus-width solid transparent;
    outline-offset: $ndrsuk-focus-width;
    padding: 0 13px;
  }

  &::placeholder {
    color: $color_ndrsuk-grey-1;
    font-size: $ndrsuk-base-font-size;
    opacity: 1; // fixes low contrast of placeholder text in firefox
  }

  &:-ms-input-placeholder {
    color: $color_ndrsuk-grey-1;
    font-size: $ndrsuk-base-font-size;
  }

  &::-webkit-input-placeholder {
    color: $color_ndrsuk-grey-1;
    font-size: $ndrsuk-base-font-size;
  }

  // Hide search input clear button (IE)
  &::-ms-clear {
    display: none;
  }

  // Hide search input icon and cancel button (WebKit, Blink)
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button {
    appearance: none;
  }

  @include ndrsuk-media-query($until: tablet) {
    border: 1px solid $color_ndrsuk-white;
    border-bottom-right-radius: $ndrsuk-border-radius;
    border-top-right-radius: $ndrsuk-border-radius;
    flex-grow: 2;
    -ms-flex-positive: 2;
    font-size: inherit;
    height: 40px;
    margin: 0;
    outline: none;
    width: 100%;
    z-index: 1;
  }

  @include ndrsuk-media-query($from: tablet) {
    border: 1px solid $color_ndrsuk-white;
    font-size: $ndrsuk-base-font-size;
    height: ndrsuk-spacing(6);
    width: 200px;

    &:focus {
      z-index: 10;
    }
  }

  @include ndrsuk-media-query($from: desktop) {
    width: 235px;
  }
}

.ndrsuk-search__submit {
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: $ndrsuk-border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: $ndrsuk-border-radius;
  background-color: $color_ndrsuk-grey-5;
  width: 44px;
  height: 40px;
  font-size: inherit;
  line-height: 1;
  outline: none;
  padding-top: 6px;
  cursor: pointer;
  z-index: 9;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover,
  &:active {
    background-color: $color_shade_ndrsuk-blue-35;
    box-shadow: inset 0 0 0 1px $color_ndrsuk-white;
    color: $color_ndrsuk-white;

    .ndrsuk-icon {
      fill: $color_ndrsuk-white;
    }
  }

  &:active {
    background-color: $color_shade_ndrsuk-blue-50;
  }

  &:focus:not(:active) {
    @include ndrsuk-focused-button;
  }

  .ndrsuk-icon__search {
    fill: $color_ndrsuk-blue;
    height: 27px;
    width: 27px;
  }

  @include ndrsuk-media-query($until: tablet) {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.ndrsuk-header__navigation-link {
  border-bottom: ndrsuk-spacing(1) solid transparent;
  border-top: ndrsuk-spacing(1) solid transparent;
  color: $color_ndrsuk-white;
  display: block;
  padding: ndrsuk-spacing(3) 2px;
  text-decoration: underline;
  white-space: nowrap;
  @include ndrsuk-font(16);
  @include ndrsuk-link-style-white;

  @include ndrsuk-media-query($until: tablet) {
    font-size: inherit;
  }

  @include ndrsuk-media-query($from: tablet) {
    padding: 12px 2px;
  }

  .ndrsuk-icon__chevron-right {
    fill: $color_ndrsuk-grey-3;
    position: absolute;
    right: ndrsuk-spacing(1);
    top: 11px;
  }

  &:focus,
  &:focus:visited {
    border-bottom: $ndrsuk-focus-width solid $ndrsuk-focus-text-color;
    box-shadow: none;
  }
}

// menu toggle button, only shows when screen can't fit all nav items
.ndrsuk-header__menu-toggle {
  background: transparent;
  border: 0;
  border-bottom: ndrsuk-spacing(1) solid transparent;
  border-radius: 0;
  border-top: ndrsuk-spacing(1) solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  position: relative;
  right: 0;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
  visibility: hidden;
  width: auto;
  z-index: 1;

  &.ndrsuk-header__navigation-link {
    padding-right: 23px;
  }

  .ndrsuk-icon__chevron-down {
    right: -3px;
  }
}

.ndrsuk-header__menu-toggle--visible {
  visibility: visible;
  display: block;
}

.ndrsuk-icon__chevron-down {
  .ndrsuk-header__menu-toggle[aria-expanded="true"] & {
    transform: rotate(270deg);
  }
}

.ndrsuk-navigation {
  @include ndrsuk-width-container;

  @include ndrsuk-media-query($until: tablet) {
    position: relative;
    z-index: 10;
  }

  @include ndrsuk-media-query($from: tablet) {
    border-top: 1px solid $color_transparent_ndrsuk-white-20;
  }
}

%ndrsuk-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// ul of visible nav
.ndrsuk-header__navigation-list {
  @extend %ndrsuk-navigation-list;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + $ndrsuk-gutter-half);
  margin: 0 math.div($ndrsuk-gutter-half, 2) * -1;

  @include ndrsuk-media-query($from: tablet) {
    width: calc(100% + $ndrsuk-gutter);
    margin: 0 math.div($ndrsuk-gutter, 2) * -1;
  }

  @include ndrsuk-media-query($from: desktop) {
    justify-content: space-between;
  }

  .js-enabled & {
    flex-wrap: nowrap;
    overflow: hidden;
  }
}

.ndrsuk-header__navigation-list--left-aligned {
  @include ndrsuk-media-query($from: desktop) {
    justify-content: initial;
  }
}

.ndrsuk-header__navigation-item {
  margin-bottom: 0;
  padding: 0 math.div($ndrsuk-gutter-half, 2);

  @include ndrsuk-media-query($from: tablet) {
    padding: 0 $ndrsuk-gutter-half;
  }
}

.ndrsuk-navigation-container {
  position: relative;
  @include ndrsuk-print-hide;

  @include ndrsuk-media-query($until: tablet) {
    margin-top: -20px;
  }
}

// ul of hidden nav
.ndrsuk-header__drop-down {
  @extend %ndrsuk-navigation-list;
  background-color: $color_ndrsuk-white;
  border-bottom: ndrsuk-spacing(1) solid $color_ndrsuk-grey-5;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  left: 0;
  @include ndrsuk-print-hide;

  @include ndrsuk-media-query($until: tablet) {
    margin: 0 $ndrsuk-gutter-half * -1;
  }

  .ndrsuk-header__navigation-link {
    margin: 0;
    padding: 12px 0;
    @include ndrsuk-width-container;
    @include ndrsuk-link-style-default;
    @include ndrsuk-link-style-no-visited-state;

    &:focus,
    &:focus:visited {
      box-shadow: none;
    }
  }

  .ndrsuk-header__navigation-item {
    padding: 0;
    border-top: 1px solid $color_ndrsuk-grey-5;
  }
}

.ndrsuk-header__drop-down--hidden {
  display: none;
}

.ndrsuk-mobile-menu-container {
  align-self: center;
  display: none;
  padding: 0 math.div($ndrsuk-gutter-half, 2);

  @include ndrsuk-media-query($from: desktop) {
    padding: 0 $ndrsuk-gutter-half;
  }
}

.ndrsuk-mobile-menu-container--visible {
  display: block;
}

.ndrsuk-header__navigation-item--home {
  @include ndrsuk-media-query($from: desktop) {
    display: none;
  }
}
