@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Pagination component
///
/// 1. Padding to give the icon spacing.
/// 2. Append the word 'page' after next and
///    previous on print stylesheets to make it easier
///    to understand in print context.
///
/// @group components
////

.ndrsuk-pagination {
  @include ndrsuk-responsive-margin(7, "top");
  @include ndrsuk-responsive-margin(7, "bottom");
}

.ndrsuk-pagination__list {
  @include ndrsuk-clearfix;
}

.ndrsuk-pagination-item--previous {
  float: left;
  text-align: left;
  width: 50%;

  .ndrsuk-icon {
    left: -6px;
  }

  .ndrsuk-pagination__title {
    padding-left: ndrsuk-spacing(5); // [1]
  }
}

.ndrsuk-pagination-item--next {
  float: right;
  text-align: right;
  width: 50%;

  .ndrsuk-icon {
    right: -6px;
  }

  .ndrsuk-pagination__title {
    padding-right: ndrsuk-spacing(5); // [1]
  }
}

.ndrsuk-pagination__link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;

  @include ndrsuk-media-query($media-type: print) {
    color: $color_ndrsuk-black;
  }

  .ndrsuk-icon {
    position: absolute;
    top: -2px;

    @include ndrsuk-media-query($media-type: print) {
      color: $color_ndrsuk-black;
      margin-top: 0;
    }
  }
}

.ndrsuk-pagination__title {
  display: block;

  @include ndrsuk-font-size(26);

  @include ndrsuk-media-query($media-type: print) {
    &::after {
      content: " page"; // [2]
    }
  }
}

.ndrsuk-pagination__page {
  display: block;
  text-decoration: underline;

  @include ndrsuk-font-size(16);

  .ndrsuk-pagination__link:hover &,
  .ndrsuk-pagination__link:focus & {
    text-decoration: none;
  }
}
