/* ==========================================================================
   UTILITIES / #FLOAT
   ========================================================================== */

/* stylelint-disable declaration-no-important */

.ndrsuk-u-float-left {
  float: left !important;
}

.ndrsuk-u-float-right {
  float: right !important;
}
