/* ==========================================================================
   UTILITIES / #READING-WIDTH
   ========================================================================== */

/**
 * Reading width mixin, add a maximum width
 * to large pieces of content
 *
 * Usage: class="ndrsuk-u-reading-width"
 * See tools/mixins
 */

.ndrsuk-u-reading-width {
  @include reading-width();
}
