/* ==========================================================================
   UTILITIES / #TEXT-ALIGN
   ========================================================================== */

/* stylelint-disable declaration-no-important */

.ndrsuk-u-text-align-left {
  text-align: left !important;
}

.ndrsuk-u-text-align-centre {
  text-align: center !important;
}

.ndrsuk-u-text-align-right {
  text-align: right !important;
}
