/* ==========================================================================
   UTILITIES / #VISUALLY-HIDDEN
   ========================================================================== */

/**
 * Hide elements visually but keep it in the DOM
 *
 * Usage: class="ndrsuk-u-visually-hidden"
 * See tools/mixins
 */

.ndrsuk-u-visually-hidden {
  @include visually-hidden();
}
