/* ==========================================================================
   UTILITIES / #WIDTH
   ========================================================================== */

/**
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 * Force element widths on all screen sizes
 *
 * Usage: class="ndrsuk-u-width-full"
 */

// Utility classes are allowed to use !important;
// so we disable stylelint for that rule
/* stylelint-disable declaration-no-important */

.ndrsuk-u-width-full {
  width: 100% !important;
}

.ndrsuk-u-width-three-quarters {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 75% !important;
  }
}

.ndrsuk-u-width-two-thirds {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 66.66% !important;
  }
}

.ndrsuk-u-width-one-half {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 50% !important;
  }
}

.ndrsuk-u-width-one-third {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 33.33% !important;
  }
}

.ndrsuk-u-width-one-quarter {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 25% !important;
  }
}
