@use "../../core/tools" as *;

.ndrsuk-character-count {
  @include ndrsuk-responsive-margin(6, "bottom");

  .ndrsuk-form-group,
  .ndrsuk-textarea {
    margin-bottom: ndrsuk-spacing(1);
  }
}

.ndrsuk-character-count__message {
  margin-bottom: 0;
  margin-top: 0;
}

.ndrsuk-character-count__message--disabled {
  visibility: hidden;
}
