/* ==========================================================================
   STYLES / #TYPOGRAPHY
   ========================================================================== */

/* Headings */

// The % (silent class) allows code to be extended (@extend) to other elements
// without bloating the code.
//
// @example scss
//  .foo {
//   @extend %ndrsuk-heading-xl;
//  }

%ndrsuk-heading-xl {
  @include ndrsuk-typography-responsive(48);

  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-responsive-margin(7, "bottom");
}

h1,
.ndrsuk-heading-xl {
  @extend %ndrsuk-heading-xl;
}

%ndrsuk-heading-l {
  @include ndrsuk-typography-responsive(36);

  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-responsive-margin(4, "bottom");
}

h2,
.ndrsuk-heading-l {
  @extend %ndrsuk-heading-l;
}

%ndrsuk-heading-m {
  @include ndrsuk-typography-responsive(26);

  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-responsive-margin(4, "bottom");
}

h3,
.ndrsuk-heading-m {
  @extend %ndrsuk-heading-m;
}

%ndrsuk-heading-s {
  @include ndrsuk-typography-responsive(22);

  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-responsive-margin(4, "bottom");
}

h4,
.ndrsuk-heading-s {
  @extend %ndrsuk-heading-s;
}

%ndrsuk-heading-xs {
  @include ndrsuk-typography-responsive(19);

  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-responsive-margin(4, "bottom");
}

h5,
.ndrsuk-heading-xs {
  @extend %ndrsuk-heading-xs;
}

%ndrsuk-heading-xxs {
  @include ndrsuk-typography-responsive(19);

  display: block;
  font-weight: $ndrsuk-font-bold;
  margin-top: 0;

  @include ndrsuk-responsive-margin(4, "bottom");
}

h6,
.ndrsuk-heading-xxs {
  @extend %ndrsuk-heading-xxs;
}

/* Captions to be used inside headings */

.ndrsuk-caption-xl {
  @include ndrsuk-font(26);

  color: $ndrsuk-secondary-text-color;
  display: block;
  margin-bottom: ndrsuk-spacing(1);
}

.ndrsuk-caption-l {
  @include ndrsuk-font(22);

  color: $ndrsuk-secondary-text-color;
  display: block;
  margin-bottom: ndrsuk-spacing(1);
}

.ndrsuk-caption-m {
  @include ndrsuk-font(19);

  color: $ndrsuk-secondary-text-color;
  display: block;
}

.ndrsuk-caption--bottom {
  margin-bottom: ndrsuk-spacing(0);
  margin-top: ndrsuk-spacing(1);
}

/* Body (paragraphs) */

%ndrsuk-body-l {
  @include ndrsuk-typography-responsive(24);

  display: block;
  margin-top: 0;

  @include ndrsuk-responsive-margin(5, "bottom");
}

.ndrsuk-body-l {
  @extend %ndrsuk-body-l;
}

%ndrsuk-body-m {
  @include ndrsuk-typography-responsive(19);

  display: block;
  margin-top: 0;

  @include ndrsuk-responsive-margin(4, "bottom");
}

p,
.ndrsuk-body-m {
  @extend %ndrsuk-body-m;
  color: inherit;
}

%ndrsuk-body-s {
  @include ndrsuk-typography-responsive(16);

  display: block;
  margin-top: 0;

  @include ndrsuk-responsive-margin(4, "bottom");
}

.ndrsuk-body-s {
  @extend %ndrsuk-body-s;
}

address {
  @extend %ndrsuk-body-m;

  font-style: normal;
}

/**
 * Lede text
 *
 * 1. Apply lede text styling to p and ul within the lede element
 * 2. Reduces the spacing between the page heading and the lede text
 */

.ndrsuk-lede-text {
  @include ndrsuk-font(24);
  @include ndrsuk-responsive-margin(7, "bottom");
  /* [1] */
  p,
  ul {
    @include ndrsuk-font(24);
  }
}

.ndrsuk-lede-text--small {
  @include ndrsuk-font(19);
  @include ndrsuk-responsive-margin(5, "bottom");
}

/* [2] */
h1 + .ndrsuk-lede-text,
h1 + .ndrsuk-lede-text--small {
  margin-top: -(ndrsuk-spacing(2));
}

/**
 * Contextual adjustments
 *
 * Add top padding to headings that appear directly after paragraphs.
 *
 * 1. Removes the padding-top because of the lede-text's increased margin-bottom
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/ndrsuk-frontend
 */

%ndrsuk-body-l + %ndrsuk-heading-l {
  padding-top: ndrsuk-spacing(1);

  @include mq($from: tablet) {
    padding-top: ndrsuk-spacing(2);
  }
}

%ndrsuk-body-m + %ndrsuk-heading-l,
%ndrsuk-body-s + %ndrsuk-heading-l,
%ndrsuk-list + %ndrsuk-heading-l {
  @include ndrsuk-responsive-padding(4, "top");
}

%ndrsuk-body-m + %ndrsuk-heading-m,
%ndrsuk-body-s + %ndrsuk-heading-m,
%ndrsuk-list + %ndrsuk-heading-m,
%ndrsuk-body-m + %ndrsuk-heading-s,
%ndrsuk-body-s + %ndrsuk-heading-s,
%ndrsuk-list + %ndrsuk-heading-s {
  padding-top: ndrsuk-spacing(1);

  @include mq($from: tablet) {
    padding-top: ndrsuk-spacing(2);
  }
}

/* [1] */
.ndrsuk-lede-text + %ndrsuk-heading-l {
  padding-top: 0;
}

/* Font weight for <strong> and <b> */

strong,
b {
  font-weight: $ndrsuk-font-bold;
}

@include mq($media-type: print) {
  .ndrsuk-main-wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  h1,
  .ndrsuk-heading-xl,
  h2,
  .ndrsuk-heading-l,
  h3,
  .ndrsuk-heading-m,
  h4,
  .ndrsuk-heading-s,
  h5,
  .ndrsuk-heading-xs,
  h6,
  .ndrsuk-heading-xxs,
  .ndrsuk-lede-text,
  .ndrsuk-body-l,
  p,
  .ndrsuk-body-m,
  .ndrsuk-body-s,
  address,
  ol,
  ul,
  .ndrsuk-list {
    margin-bottom: 7.5pt;
  }

  h1 {
    margin-bottom: 15pt !important;
  }

  %ndrsuk-body-l + %ndrsuk-heading-l,
  %ndrsuk-body-m + %ndrsuk-heading-l,
  %ndrsuk-body-s + %ndrsuk-heading-l,
  %ndrsuk-list + %ndrsuk-heading-l,
  %ndrsuk-body-m + %ndrsuk-heading-m,
  %ndrsuk-body-s + %ndrsuk-heading-m,
  %ndrsuk-list + %ndrsuk-heading-m,
  %ndrsuk-body-m + %ndrsuk-heading-s,
  %ndrsuk-body-s + %ndrsuk-heading-s,
  %ndrsuk-list + %ndrsuk-heading-s {
    padding-top: 0.45em;
  }
}
