////
/// Error summary component
///
/// 1. Cross-component class - adjusts styling of list component.
/// 2. Override default link styling to use error colour
///
/// @group components
////

.ndrsuk-error-summary {
  @include ndrsuk-responsive-padding(4);

  // Not using responsive spacing as we want smaller margin on mobile
  margin-bottom: ndrsuk-spacing(5);

  @include govuk-media-query($from: tablet) {
    margin-bottom: ndrsuk-spacing(7);
  }

  border: $ndrsuk-border-width-mobile solid $ndrsuk-error-color;

  @include govuk-media-query($from: tablet) {
    border: $ndrsuk-border-width solid $ndrsuk-error-color;
  }

  &:focus {
    border: $ndrsuk-focus-width solid $ndrsuk-focus-text-color;
    box-shadow: 0 0 0 $ndrsuk-focus-width $ndrsuk-focus-color;
    outline: $ndrsuk-focus-width solid transparent;
  }
}

.ndrsuk-error-summary__title {
  @include ndrsuk-font(26, $weight: bold);

  margin-top: 0;
  @include ndrsuk-responsive-margin(4, "bottom");
}

.ndrsuk-error-summary__body {
  @include ndrsuk-font(19);

  p {
    margin-top: 0;
    @include ndrsuk-responsive-margin(4, "bottom");
  }
}

.ndrsuk-error-summary__list {
  // [1]
  margin-bottom: 0;
  margin-top: 0;
}

.ndrsuk-error-summary__list a {
  @include ndrsuk-typography-weight-bold;

  // [2]
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $ndrsuk-error-color;
  }

  &:focus {
    @include ndrsuk-focused-text;
  }
}
