@use "sass:math";
@use "../tools" as *;

////
/// Grid widths
///
/// Force grid widths on all screen sizes
///
/// By default all grid elements will go to 100% width
/// on screen sizes below tablet, these utilities can force
/// custom widths on all screen sizes
///
/// @group utilities
///
/// @example html
///   <div class="ndrsuk-u-one-half"></div>
////

// Utility classes are allowed to use !important;
// so we disable stylelint for that rule
// stylelint-disable declaration-no-important

.ndrsuk-u-one-half {
  float: left;
  width: math.percentage(math.div(1, 2)) !important;
}

.ndrsuk-u-one-third {
  float: left;
  width: math.percentage(math.div(1, 3)) !important;
}

.ndrsuk-u-two-thirds {
  float: left;
  width: math.percentage(math.div(2, 3)) !important;
}

.ndrsuk-u-one-quarter {
  float: left;
  width: math.percentage(math.div(1, 4)) !important;
}

.ndrsuk-u-three-quarters {
  float: left;
  width: math.percentage(math.div(3, 4)) !important;
}

/// Force grid widths on screen sizes on tablet
/// and above
///
/// By default all grid elements will go to 100% width
/// on every screen size, these utilities can force
/// custom widths on screen sizes on tablet
/// and above
///
/// @example html
///   <div class="ndrsuk-u-one-half-tablet"></div>

.ndrsuk-u-one-half-tablet {
  width: 100% !important;
  @include ndrsuk-media-query($from: tablet) {
    float: left;
    width: math.percentage(math.div(1, 2)) !important;
  }
}

.ndrsuk-u-one-third-tablet {
  width: 100% !important;
  @include ndrsuk-media-query($from: tablet) {
    float: left;
    width: math.percentage(math.div(1, 3)) !important;
  }
}

.ndrsuk-u-two-thirds-tablet {
  width: 100% !important;
  @include ndrsuk-media-query($from: tablet) {
    float: left;
    width: math.percentage(math.div(2, 3)) !important;
  }
}

.ndrsuk-u-one-quarter-tablet {
  width: 100% !important;
  @include ndrsuk-media-query($from: tablet) {
    float: left;
    width: math.percentage(math.div(1, 4)) !important;
  }
}

.ndrsuk-u-three-quarters-tablet {
  width: 100% !important;
  @include ndrsuk-media-query($from: tablet) {
    float: left;
    width: math.percentage(math.div(3, 4)) !important;
  }
}
