@use "sass:map";
@use "../settings" as *;
@use "../tools" as *;

////
/// Typography
///
/// @group utilities
////

// Utility classes are allowed to use !important;
// so we disable stylelint for that rule

/// Font size and line height
///
/// Generate typography override classes for each responsive font map in the
/// typography scale eg .ndrsuk-u-font-size-48
///
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)

// ndrsuk-u-font-size-24 is deprecated
@each $size, $font-map in $ndrsuk-typography-scale {
  .ndrsuk-u-font-size-#{$size} {
    $font-map: map.get($ndrsuk-typography-scale, $size);

    // Add underscore to deprecated typography scale keys
    @if map.has-key($font-map, "deprecation") {
      $size: _#{$size};
    }

    @include ndrsuk-font-size($size, $important: true);
  }
}

/// Weights
///
/// Generate font weight override classes for normal and bold
///
/// @example html
///   <h3 class="ndrsuk-heading-s ndrsuk-u-font-weight-normal">Example</h3>
///   <p class="ndrsuk-u-font-weight-bold">Example</p>

.ndrsuk-u-font-weight-normal {
  @include ndrsuk-typography-weight-normal($important: true);
}

.ndrsuk-u-font-weight-bold {
  @include ndrsuk-typography-weight-bold($important: true);
}

/// Typography helpers

/// Word break
///
/// @example html
///   <p class="text-u-word-break-word"></p>

.ndrsuk-u-text-break-word {
  @include ndrsuk-text-break-word($important: true);
}

/// Colours

/// Secondary text colour
///
/// @example html
///   <p class="ndrsuk-u-secondary-text-color">Published on: 15 March 2018</p>

.ndrsuk-u-secondary-text-color {
  // stylelint-disable-next-line declaration-no-important
  color: $ndrsuk-secondary-text-color !important;
}
