@use "../tools" as *;

////
/// Visually hidden
///
/// Hide elements visually but keep it in the DOM
///
/// @group utilities
///
/// @example html
///   <span class="ndrsuk-u-visually-hidden">Error:</span>
////

.ndrsuk-u-visually-hidden {
  @include ndrsuk-visually-hidden;
}

.ndrsuk-u-visually-hidden-focusable {
  @include ndrsuk-visually-hidden-focusable;
}
