@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Breadcrumb component
///
/// 1. Hide the breadcrumb on print stylesheets.
/// 3. Don't show the full breadcrumb below tablet size.
/// 4. Typography sizing mixin, see core/tools/_typography
/// 5. and core/settings/_typography for size maps.
///    .. but show a back to index page link.
/// 6. Spacing to align the chevron with breadcrumb items
///
/// @group components
////

.ndrsuk-breadcrumb {
  padding-top: ndrsuk-spacing(3);
  @include ndrsuk-print-hide; // [1]

  @include ndrsuk-media-query($from: tablet) {
    padding-top: ndrsuk-spacing(4);
  }
}

.ndrsuk-breadcrumb__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include ndrsuk-font(16); // [4]

  @include ndrsuk-media-query($until: tablet) {
    display: none; // [3]
  }
}

.ndrsuk-breadcrumb__item {
  $chevron-background: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23768692' height='18' width='18' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'%3E%3C/path%3E%3C/svg%3E";
  $chevron-background-reverse: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aeb7bd' height='18' width='18' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'%3E%3C/path%3E%3C/svg%3E";

  display: inline-block;
  margin-bottom: 0;
  @include ndrsuk-font(16); // [4]

  &:not(:last-child)::after {
    background: url($chevron-background) no-repeat 0 0;
    content: "";
    display: inline-block;
    height: 19px; // [6]
    margin-left: 9px; // [6]
    margin-right: 2px; // [6]
    vertical-align: middle; // [6]
    width: 18px; // [6]
  }

  .ndrsuk-breadcrumb--reverse &:not(:last-child)::after {
    background-image: url($chevron-background-reverse);
  }
}

.ndrsuk-breadcrumb__link {
  @include ndrsuk-link-style-no-visited-state;

  .ndrsuk-breadcrumb--reverse & {
    @include ndrsuk-link-style-white;
  }
}

.ndrsuk-breadcrumb__back {
  margin: 0;
  line-height: 1;

  @include ndrsuk-media-query($from: tablet) {
    display: none; // [5]
  }
}

.ndrsuk-breadcrumb__backlink {
  $icon-background: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23005eb8' height='24' width='24' viewBox='8 0 24 24'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E";
  $icon-background-hover: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237c2855' height='24' width='24' viewBox='8 0 24 24'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E";
  $icon-background-focus: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212b32' height='24' width='24' viewBox='8 0 24 24'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E";
  $icon-background-reverse: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' height='24' width='24' viewBox='8 0 24 24'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E";

  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 16px;
  position: relative;

  @include ndrsuk-link-style-no-visited-state;
  @include ndrsuk-font(16); // [4]

  &::before {
    background: url($icon-background) no-repeat 8px 0;
    content: "";
    display: block;

    height: 24px;
    left: -8px;
    position: absolute;
    top: -1px;
    width: 24px;

    @include ndrsuk-media-query($from: tablet) {
      top: 0; // [3]
    }
  }

  .ndrsuk-breadcrumb--reverse & {
    @include ndrsuk-link-style-white;
  }

  &:link,
  .ndrsuk-breadcrumb--reverse &:link {
    text-decoration: none;
  }

  &:hover,
  .ndrsuk-breadcrumb--reverse &:hover {
    text-decoration: underline;
  }

  &:hover::before {
    background-image: url($icon-background-hover);
  }

  .ndrsuk-breadcrumb--reverse &::before,
  .ndrsuk-breadcrumb--reverse &:active::before {
    background-image: url($icon-background-reverse);
  }

  &:focus::before,
  &:active::before {
    background-image: url($icon-background-focus);
  }
}
