@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Do and Don't list component
///
/// Do and Don't lists help users understand more easily what they should
/// and shouldn't do.
///
/// 1. Uses @mixin panel-with-label from tools/_mixins.
/// 2. Uses @mixin heading-label from tools/_mixins.
///
/// @group components
////

.ndrsuk-do-dont-list {
  @include ndrsuk-panel-with-label($color_ndrsuk-white, $ndrsuk-text-color, $color_ndrsuk-grey-4); // [1]
}

.ndrsuk-do-dont-list__label {
  @include ndrsuk-heading-label($color_ndrsuk-blue, $color_ndrsuk-white); // [2]
  @include ndrsuk-print-color($ndrsuk-print-text-color);
}
